openapi: 3.0.0
info:
  title: Zoom Meeting API
  description: The Zoom Meeting APIs let developers to access information from Zoom.
  termsOfService: https://zoom.us/docs/en-us/zoom_api_license_and_tou.html
  contact:
    name: Zoom Developers
    url: https://developer.zoom.us/
  version: '2'
externalDocs:
  description: Find out more about Swagger
  url: https://swagger.io
servers:
  - url: https://api.zoom.us/v2
paths:
  /live_meetings/{meetingId}/chat/messages/{messageId}:
    delete:
      tags:
        - Meetings
      summary: Delete a live meeting message
      description: >-
        Delete a message in a live meeting, based on ID. 


        **Prerequisites:** 

        * Have Zoom enable the DLP for the in-meeting chat feature to use this
        API.


        **Scopes:** `meeting:write`,`meeting:write:admin`


        **[Rate Limit
        Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**
        `MEDIUM`
      operationId: deleteMeetingChatMessageById
      parameters:
        - name: meetingId
          in: path
          description: |-
            The meeting's ID. 

             When storing this value in your database, store it as a long-format integer and **not** an integer. Meeting IDs can exceed 10 digits.
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int64
            example: 85746065
        - name: messageId
          in: path
          description: >-
            The live meeting chat message's unique identifier (UUID), in
            base64-encoded format.
          required: true
          style: simple
          explode: false
          schema:
            type: string
            example: MS17MDQ5NjE4QjYtRjk4Ny00REEwLUFBQUItMTg3QTY0RjU2MzhFfQ==
        - name: file_ids
          in: query
          description: >-
            The live webinar chat file's universally unique identifier (UUID),
            in base64-encoded format. Separate multiple values with commas.
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: >-
              MS17RDk0QTY3QUQtQkFGQy04QTJFLTI2RUEtNkYxQjRBRTU1MTk5fQ==,MS17NDQ0OEU5MjMtM0JFOS1CMDA1LTQ0NDAtQjdGOTU0Rjk5MTkyfQ==
      responses:
        '204':
          description: |-
            **HTTP Status Code:** `204`   

            Meeting chat message deleted.
        '400':
          description: |
            **HTTP Status Code:** `400` <br>
             Bad Request 

             **Error Code:** `200` <br>
             * Only available for Paid accounts. 
            * DLP is not enabled. <br>
        '404':
          description: |
            **HTTP Status Code:** `404` <br>
             Not Found 

             **Error Code:** `3001` <br>
             Meeting {meetingId} does not exist. <br>
      security:
        - openapi_oauth:
            - meeting:write
            - meeting:write:admin
          openapi_authorization: [ ]
  /live_meetings/{meetingId}/events:
    patch:
      tags:
        - Meetings
      summary: Use in-meeting controls
      description: >-
        Control
        [in-meeting](https://support.zoom.us/hc/en-us/articles/360021921032-In-Meeting-Controls)
        features. In-meeting controls include starting and stopping a recording,
        pausing and resuming a recording, and inviting participants. 


        **Note:** This API's recording control only works for cloud recordings.
        It does **not** work for local recordings. 


        **Prerequisites:**

        * The meeting **must** be a live meeting **except** inviting
        participants to the meeting through [call out (phone)/(room system)]. 

        * Recording control: [Cloud
        recording](https://support.zoom.us/hc/en-us/articles/360060231472-Enabling-cloud-recording)
        must be enabled on the account. 

        * The user calling this API must be the host or an alternative meeting
        host.
        
        
        
        **Scopes:** `meeting:write`,`meeting:write:admin`,`meeting:master`


        **[Rate Limit
        Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**
        `Medium`
      operationId: inMeetingControl
      parameters:
        - name: meetingId
          in: path
          description: The live meeting's ID.
          required: true
          explode: false
          schema:
            type: string
            example: '93398114182'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                method:
                  type: string
                  description: >-
                    The in-meeting method to control: 

                    * `recording.start` &mdash; Start the recording. 

                    * `recording.stop` &mdash; Stop the recording. 

                    * `recording.pause` &mdash; Pause the recording. 

                    * `recording.resume` &mdash; Resume a paused recording. 

                    * `participant.invite` &mdash; Invite a participant to the
                    meeting. 

                    * `participant.invite.callout` &mdash; Invite a participant
                    to the meeting through [call out
                    (phone)](https://support.zoom.us/hc/en-us/articles/4404535651085-Inviting-others-by-phone-call-out). 

                    * `participant.invite.room_system_callout` &mdash; Invite a
                    participant to the meeting through [call out (room system)].
                  example: recording.start
                params:
                  type: object
                  properties:
                    contacts:
                      maximum: 10
                      type: array
                      description: >-
                        The user's email address or the user ID, up to a maximum
                        of 10 contacts. The account must be a part of the
                        meeting host's account.
                      items:
                        type: object
                        properties:
                          email:
                            type: string
                            description: >-
                              The user's email address. Use this value if you do
                              not have the user's ID. 


                              If you pass the `id` value, the API ignores this
                              query parameter.
                            example: jchill@example.com
                          id:
                            type: string
                            description: The user's ID.
                            example: 30R7kT7bTIKSNUFEuH_Qlg
                    invitee_name:
                      type: string
                      description: >-
                        The user's name to display in the meeting. Use this
                        field if you pass the `participant.invite.callout` value
                        for the `method` field.
                      example: Jill Chill
                    phone_number:
                      type: string
                      description: >-
                        The user's phone number. Use this field if you pass the
                        `participant.invite.callout` value for the `method`
                        field. As a best practice, ensure this includes a
                        country code and area code.
                      example: '5550100'
                    invite_options:
                      type: object
                      properties:
                        require_greeting:
                          type: boolean
                          description: >-
                            Whether to require a greeting before being
                            connected. Use this field if you pass the
                            `participant.invite.callout` value for the `method`
                            field.
                          example: true
                          default: true
                        require_pressing_one:
                          type: boolean
                          description: >-
                            Whether to require pressing 1 before being
                            connected. Use this field if you pass the
                            `participant.invite.callout` value for the `method`
                            field.
                          example: true
                          default: true
                      description: >-
                        Information about the `participant.invite.callout`
                        settings.
                    call_type:
                      type: string
                      description: >-
                        The type of call out. Use a value of `h323` or `sip`.
                        Use this field if you pass the
                        `participant.invite.room_system_callout` value for the
                        `method` field.
                      example: h323
                    device_ip:
                      type: string
                      description: >-
                        The user's device IP address or URI. Use this field if
                        you pass the `participant.invite.room_system_callout`
                        value for the `method` field.
                      example: 10.100.111.237
                    h323_headers:
                      type: object
                      properties:
                        from_display_name:
                          maxLength: 64
                          type: string
                          description: >-
                            Custom name that will be used within the h323
                            Header.
                          example: display name
                        to_display_name:
                          maxLength: 64
                          type: string
                          description: >-
                            Custom remote name that will be used within the
                            meeting.
                          example: display name
                      description: >-
                        Enable customers to leverage services that require
                        customization of the FROM header to identify the caller.
                        Use this field if you pass the
                        `participant.invite.room_system_callout` value for the
                        `method` field and the `h323` value for the `call_type`
                        field.
                    sip_headers:
                      type: object
                      properties:
                        from_display_name:
                          maxLength: 64
                          type: string
                          description: Custom name that will be used within the SIP Header.
                          example: display name
                        to_display_name:
                          maxLength: 64
                          type: string
                          description: >-
                            Custom remote name that will be used within the
                            meeting.
                          example: display name
                        from_uri:
                          maxLength: 256
                          type: string
                          description: >-
                            Custom URI that will be used within the SIP Header.
                            The URI must start with 'sip:' or 'sips:' as a valid
                            URI based on parameters defined by the platform.
                          example: sip:username@domain.company.org
                        additional_headers:
                          maximum: 10
                          type: array
                          description: >-
                            Ability to add 1 to 10 custom headers, each of which
                            has a maximum length of 256 bytes to comply with SIP
                            standards.  Custom headers would leverage header
                            names starting with 'X-' per SIP guidelines.
                          items:
                            type: object
                            properties:
                              key:
                                maxLength: 32
                                type: string
                                description: Additional custom SIP header's key.
                                example: X-Header1
                              value:
                                maxLength: 256
                                type: string
                                description: Additional custom SIP header's value.
                                example: X-body1
                      description: >-
                        Enable customers to leverage services that require
                        customization of the FROM header to identify the caller.
                        Use this field if you pass the
                        `participant.invite.room_system_callout` value for the
                        `method` field and the `sip` value for the `call_type`
                        field.
                  description: The in-meeting parameters.
      responses:
        '202':
          description: |-
            **HTTP Status:** `202` **Accepted**
            Request processed successfully.
        '400':
          description: >
            **HTTP Status Code:** `400` <br>
             Bad Request 

             **Error Code:** `300` <br>
             * Meeting id does not exist.<br>
            * Invalid meeting id.<br>

            * Meeting does not exist.<br>

            * No permission.<br>

            * This API is not available for this account, please contact Zoom
            support. <br>

            **Error Code:** `3309` <br>
             Not enough cloud storage available. Either purchase additional storage or delete cloud recordings to free up storage. <br>
        '404':
          description: |
            **HTTP Status Code:** `404` <br>
             Not Found 

             **Error Code:** `3001` <br>
             Meeting {meetingId} is not found or has expired. <br>
        '429':
          description: |-
            **HTTP Status Code:** `429` <br>
             undefined 
      

      security:
        - openapi_oauth:
            - meeting:write
            - meeting:write:admin
            - meeting:master
          openapi_authorization: [ ]
  /meetings/{meetingId}:
    get:
      tags:
        - Meetings
      summary: Get a meeting
      description: >-
        Retrieve tha given meeting's details. 
        
        
        
        
        **Scopes:** `meeting:read`,`meeting:read:admin`


        **[Rate Limit
        Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**
        `LIGHT`
      operationId: meeting
      parameters:
        - name: meetingId
          in: path
          description: |-
            The meeting's ID. 

             When storing this value in your database, store it as a long format integer and **not** an integer. Meeting IDs can be more than 10 digits.
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int64
            example: 85746065
        - name: occurrence_id
          in: query
          description: >-
            Meeting occurrence ID. Provide this field to view meeting details of
            a particular occurrence of the [recurring
            meeting](https://support.zoom.us/hc/en-us/articles/214973206-Scheduling-Recurring-Meetings).
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: '1648194360000'
        - name: show_previous_occurrences
          in: query
          description: >-
            Set this field's value to `true` to view meeting details of all
            previous occurrences of a [recurring
            meeting](https://support.zoom.us/hc/en-us/articles/214973206-Scheduling-Recurring-Meetings).
          required: false
          style: form
          explode: true
          schema:
            type: boolean
            example: true
      responses:
        '200':
          description: |-
            **HTTP Status Code:** `200`  
            
            Meeting object returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Meeting'
        '400':
          description: |
            **HTTP Status Code:** `400` <br>
             Bad Request 

             **Error Code:** `1010` <br>
             User not found on this account: {accountId}.<br> <br>
            **Error Code:** `3000` <br>
             Cannot access webinar info. <br>
            **Error Code:** `3161` <br>
             Meeting hosting and scheduling capabilities are not allowed for your user account. <br>
        '404':
          description: |
            **HTTP Status Code:** `404` <br>
             Not Found 

             **Error Code:** `1001` <br>
             User not exist: {userId}.<br> <br>
            **Error Code:** `3001` <br>
             Meeting {meetingId} is not found or has expired. <br>
      security:
        - openapi_oauth:
            - meeting:read
            - meeting:read:admin
          openapi_authorization: [ ]
    delete:
      tags:
        - Meetings
      summary: Delete a meeting
      description: >-
        Delete a meeting.  
        
        
        
        
        **Scopes:** `meeting:write:admin`,`meeting:write`


        **[Rate Limit
        Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**
        `Light`
      operationId: meetingDelete
      parameters:
        - name: meetingId
          in: path
          description: |-
            The meeting's ID. 

             When storing this value in your database, you must store it as a long format integer and **not** an integer. Meeting IDs can exceed 10 digits.
          required: true
          explode: false
          schema:
            type: integer
            format: int64
            example: 85746065
        - name: occurrence_id
          in: query
          description: The meeting or webinar occurrence ID.
          required: false
          explode: true
          schema:
            type: string
            example: '1648194360000'
        - name: schedule_for_reminder
          in: query
          description: >-
            `true`: Notify host and alternative host about the meeting
            cancellation via email.

            `false`: Do not send any email notification.
          required: false
          explode: true
          schema:
            type: boolean
            example: true
        - name: cancel_meeting_reminder
          in: query
          description: >-
            `true`: Notify registrants about the meeting cancellation via
            email. 


            `false`: Do not send any email notification to meeting registrants. 


            The default value of this field is `false`.
          required: false
          explode: true
          schema:
            type: boolean
            example: true
      responses:
        '204':
          description: |-
            **HTTP Status Code**: `204`   
            
            Meeting deleted.
        '400':
          description: >+
            **HTTP Status Code:** `400` <br>
             Bad Request

            **Error Code:** `1010` <br>

            User does not belong to this account: {accountId}.<br>


            **Error Code:** `3000` <br>

            Cannot access meeting information.<br>Invalid occurrence_id.<br>


            **Error Code:** `3002` <br>

            Sorry, you cannot delete this meeting since it is in progress.<br>


            **Error Code:** `3003` <br>

            You are not the meeting host.<br>


            **Error Code:** `3007` <br>

            Sorry, you cannot delete this meeting since it has ended.<br>


            **Error Code:** `3018` <br>

            Not allowed to delete PMI.<br>


            **Error Code:** `3037` <br>

            Not allowed to delete PAC.


            **Error Code:** `3161` <br>

            Meeting hosting and scheduling capabilities are not allowed for your
            user account.

        '404':
          description: |+
            **HTTP Status Code:** `404` <br>
             Not Found

            **Error Code:** `1001` <br>
            User does not exist: {userId}.<br>

            **Error Code:** `3001` <br>
            Meeting with this {meetingId} is not found or has expired.

      security:
        - openapi_oauth:
            - meeting:write:admin
            - meeting:write
          openapi_authorization: [ ]
    patch:
      tags:
        - Meetings
      summary: Update a meeting
      description: >-
        Update meeting details.


        **Note** 

        * This API has a rate limit of **100 requests per day**. You can update
        a meeting for a maximum of **100 times within a 24-hour period**. 

        * The `start_time` value **must** be a future date. If the value is
        omitted or a date in the past, the API ignores this value and does
        **not** update any recurring meetings. 

        * The `recurrence` object is **required**.




        **Scopes:** `meeting:write`,`meeting:write:admin`


        **[Rate Limit
        Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**
        `LIGHT`
      operationId: meetingUpdate
      parameters:
        - name: meetingId
          in: path
          description: |-
            The meeting's ID. 

             When storing this value in your database, store it as a long format integer and **not** an integer. Meeting IDs can be greater than 10 digits.
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            format: int64
            example: 85746065
        - name: occurrence_id
          in: query
          description: >-
            Meeting occurrence ID. Support change of agenda, `start_time`,
            duration, or settings {`host_video`, `participant_video`,
            `join_before_host`, `mute_upon_entry`, `waiting_room`, `watermark`,
            `auto_recording`}.
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: '1648194360000'
      requestBody:
        description: Meeting
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeetingCreateOrUpdate'
      responses:
        '204':
          description: |-
            **HTTP Status Code:** `204`  
            
            Meeting updated.
        '400':
          description: >
            **HTTP Status Code:** `400` <br>
             Bad Request 

             **Error Code:** `1010` <br>
             User not found on this account: {accountId} <br>
            **Error Code:** `3000` <br>
             Cannot access meeting information. <br>
            **Error Code:** `3003` <br>
             You are not the meeting host. <br>
            **Error Code:** `3000` <br>
             * Instant meetings do not support the "schedule_for" parameter. You cannot schedule an instant meeting for another user. 
            * Users in "{0}" have been blocked from joining meetings and
            webinars. To unblock them, go to the "Settings" page in the Zoom web
            portal and update the "Block users in specific domains from joining
            meetings and webinars" setting. 

            * Prescheduling is only available for scheduled meetings (type 2)
            and recurring meetings with no fixed time (type 3). 

            * You cannot schedule a meeting for "{0}". 

            * You cannot update or delete meetings that have started using this
            method. 

            * Unable to schedule for a user outside of your account for a
            meeting with continuous chat. <br>

            **Error Code:** `3161` <br>
             Meeting hosting and scheduling capabilities are not allowed for your user account. <br>
            **Error Code:** `300` <br>
             * The value that you entered for the schedule_for field is invalid. Enter a valid value and try again. <br> 
            * Invalid enforce_login_domains, separate multiple domains by
            semicolon. <br>
        '404':
          description: |
            **HTTP Status Code:** `404` <br>
             Not Found 

             **Error Code:** `1001` <br>
             User does not exist: {userId}.<br> <br>
            **Error Code:** `3001` <br>
             A meeting with this {meetingId} is not found or has expired. <br>
        '429':
          description: |-
            **HTTP Status Code:** `429` <br>
             Too Many Requests 
      

      security:
        - openapi_oauth:
            - meeting:write
            - meeting:write:admin
          openapi_authorization: [ ]
      x-permissions:
        - User:Edit
      x-macro-scopes:
        - meeting:write
        - meeting:write:admin
  /users/{userId}/meetings:
    post:
      tags:
        - Meetings
      summary: Create a meeting
      description: >-
        [Create a
        meeting](https://support.zoom.us/hc/en-us/articles/201362413-Scheduling-meetings)
        for a user. For user-level apps, pass [the `me`
        value](/docs/api/rest/using-zoom-apis/#the-me-keyword) instead of the
        `userId` parameter.


        * A meeting's `start_url` value is the URL a host or an alternative host
        can use to start a meeting. The expiration time for the `start_url`
        value is **two hours** for all regular users.

        * For `custCreate` meeting hosts (users created with the `custCreate`
        parameter via the [**Create
        users**](/api-reference/zoom-api/methods#operation/userCreate) API), the
        expiration time of the `start_url` parameter is **90 days** from the
        generation of the `start_url`.


        **Note:**


        For security reasons, the recommended way to programmatically get the
        updated `start_url` value after expiry is to call the [**Get a
        meeting**](/api-reference/zoom-api/methods#operation/meeting) API. Refer
        to the `start_url` value in the response.

         **100 requests per day**. The rate limit is applied against the `userId` of the **meeting host** used to make the request.

        **Scopes:** `meeting:write`,`meeting:write:admin`


        **[Rate Limit
        Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):**
        `MEDIUM`
      operationId: meetingCreate
      parameters:
        - name: userId
          in: path
          description: >-
            The user's user ID or email address. For user-level apps, pass the
            `me` value.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        description: Meeting object.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeetingCreateOrUpdate'
      responses:
        '201':
          description: |-
            **HTTP Status Code:** `201`

            Meeting created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Meeting'
        '400':
          description: >
            **HTTP Status Code:** `400` <br>
             Bad Request

             **Error Code:** `3000` <br>
             * Instant meetings do not support the schedule_for parameter; you cannot schedule an instant meeting for another user.<br>
            * Users in '{0}' have been blocked from joining meetings and
            webinars. To unblock them, go to the Settings page in the Zoom web
            portal and update 'Block users in specific domains from joining
            meetings and webinars'.<br>

            * You cannot schedule a meeting for {0}. <br>

            **Error Code:** `3161` <br>
             Meeting hosting and scheduling capabilities are not allowed for your user account. <br>
            **Error Code:** `300` <br>
             * The value that you entered for the schedule_for field is invalid. Enter a valid value and try again. <br>
            * Invalid enforce_login_domains, separate multiple domains by
            semicolon. <br>
        '404':
          description: |
            **HTTP Status Code:** `404` <br>
             Not Found

             **Error Code:** `1001` <br>
             User {userId} not exist or not belong to this account. <br>
        '429':
          description: |-
            **HTTP Status Code:** `429` <br>
             Too Many Requests


      security:
        - openapi_oauth:
            - meeting:write
            - meeting:write:admin
          openapi_authorization: []
      x-permissions:
        - User:Edit
      x-macro-scopes:
        - meeting:write
        - meeting:write:admin
      x-granular-scopes:
        - meeting:write:meeting
        - meeting:write:meeting:admin
components:
  schemas:
    Meeting:
      description: Meeting object.
      type: object
      properties:
        assistant_id:
          type: string
          description: >-
            The ID of the user who scheduled this meeting on behalf of
            the host.
          example: kFFvsJc-Q1OSxaJQLvaa_A
        host_email:
          type: string
          description: The meeting host's email address.
          format: email
          example: jchill@example.com
        host_id:
          type: string
          description: The ID of the user who is set as the meeting host.
          example: 30R7kT7bTIKSNUFEuH_Qlg
        id:
          type: integer
          description: >-
            [Meeting
            ID](https://support.zoom.us/hc/en-us/articles/201362373-What-is-a-Meeting-ID-):
            Unique identifier of the meeting in **long** format,
            represented as int64 data type in JSON, also known as the
            meeting number.
          format: int64
          example: 97763643886
        uuid:
          type: string
          description: >
            Unique meeting ID. Each meeting instance generates its own
            meeting UUID - after a meeting ends, a new UUID is
            generated for the next instance of the meeting. Retrieve a
            list of UUIDs from past meeting instances using the
            [**List past meeting
            instances**](/docs/api-reference/zoom-api/methods#operation/pastMeetings)
            API. [Double
            encode](https://developers.zoom.us/docs/api/rest/using-zoom-apis/#meeting-id-and-uuid)
            your UUID when using it for API calls if the UUID begins
            with a `/` or contains `//` in it.
          example: aDYlohsHRtCd4ii1uC2+hA==
        agenda:
          maxLength: 2000
          type: string
          description: The meeting description.
          example: My Meeting
        created_at:
          type: string
          description: 'The creation time. '
          format: date-time
          example: '2022-03-25T07:29:29Z'
        duration:
          type: integer
          description: The meeting duration.
          example: 60
        encrypted_password:
          type: string
          description: Encrypted passcode for third party endpoints (H323/SIP).
          example: 8pEkRweVXPV3Ob2KJYgFTRlDtl1gSn.1
        h323_password:
          type: string
          description: H.323/SIP room system passcode.
          example: '123456'
        join_url:
          type: string
          description: >-
            The URL for participants to join the meeting. This URL
            should only be shared with users invited to the meeting.
          example: https://example.com/j/11111
        chat_join_url:
          type: string
          description: The URL to join the chat.
          example: https://example.com/launch/jc/11111
        occurrences:
          type: array
          description: Array of occurrence objects.
          items:
            type: object
            properties:
              duration:
                type: integer
                description: Duration.
                example: 60
              occurrence_id:
                type: string
                description: >-
                  Occurrence ID: Unique Identifier that identifies an
                  occurrence of a recurring meeting. [Recurring
                  meetings](https://support.zoom.us/hc/en-us/articles/214973206-Scheduling-Recurring-Meetings)
                  can have a maximum of 50 occurrences.
                example: '1648194360000'
              start_time:
                type: string
                description: Start time.
                format: date-time
                example: '2022-03-25T07:46:00Z'
              status:
                type: string
                description: Occurrence status.
                example: available
            description: >-
              Occurrence object. This object is only returned for
              recurring meetings.
        password:
          minimum: 8
          type: string
          description: Meeting passcode.
          example: '123456'
        pmi:
          type: string
          description: >-
            [Personal meeting ID
            (PMI)](https://developers.zoom.us/docs/api/rest/using-zoom-apis/#understanding-personal-meeting-id-pmi).
            Only used for scheduled meetings and recurring meetings
            with no fixed time.
          example: '97891943927'
        pre_schedule:
          type: boolean
          description: >-
            Whether the prescheduled meeting was created via the
            [GSuite
            app](https://support.zoom.us/hc/en-us/articles/360020187492-Zoom-for-GSuite-add-on).
            This **only** supports the meeting `type` value of `2`
            (scheduled meetings) and `3` (recurring meetings with no
            fixed time): 
            
            * `true` - A GSuite prescheduled meeting. 
            
            * `false` - A regular meeting.
          example: false
          default: false
        recurrence:
          required:
            - type
          type: object
          properties:
            end_date_time:
              type: string
              description: >-
                Select the final date when the meeting will recur
                before it is canceled. Should be in UTC time, such as
                2017-11-25T12:00:00Z. (Cannot be used with
                `end_times`.)
              format: date-time
              example: '2022-04-02T15:59:00Z'
            end_times:
              maximum: 60
              type: integer
              description: >-
                Select how many times the meeting should recur before
                it is canceled. The maximum number of recurring is 60.
                Cannot be used with `end_date_time`.
              example: 7
              default: 1
            monthly_day:
              type: integer
              description: >-
                Use this field only if you're scheduling a recurring
                meeting of type `3` to state the day in a month when
                the meeting should recur. The value range is from 1 to
                31.
                
                
                For example, for a meeting to recur on 23rd of each
                month, provide `23` as this field's value and `1` as
                the `repeat_interval` field's value. Instead, to have
                the meeting to recur every three months on 23rd of the
                month, change the `repeat_interval` field's value to
                `3`.
              example: 1
              default: 1
            monthly_week:
              type: integer
              description: >-
                Use this field only if you're scheduling a recurring
                meeting of type `3` to state the week of the month
                when the meeting should recur. If you use this field,
                **you must also use the `monthly_week_day` field to
                state the day of the week when the meeting should
                recur.**   
                 `-1` - Last week of the month.  
                 `1` - First week of the month.  
                 `2` - Second week of the month.  
                 `3` - Third week of the month.  
                 `4` - Fourth week of the month.
              example: 1
              x-enum-descriptions:
                - Last week
                - First week
                - Second week
                - Third week
                - Fourth week
            monthly_week_day:
              type: integer
              description: >-
                Use this field **only if you're scheduling a recurring
                meeting of type** `3` to state a specific day in a
                week when the monthly meeting should recur. To use
                this field, you must also use the `monthly_week`
                field. 
                
                
                 `1` - Sunday.  
                 `2` - Monday.  
                 `3` - Tuesday.  
                 `4` -  Wednesday.  
                 `5` - Thursday.  
                 `6` - Friday.  
                 `7` - Saturday.
              example: 1
              x-enum-descriptions:
                - Sunday
                - Monday
                - Tuesday
                - Wednesday
                - Thursday
                - Friday
                - Saturday
            repeat_interval:
              type: integer
              description: >+
                Define the interval when the meeting should recur. For
                instance, to schedule a meeting that recurs every two
                months, you must set this field's value as `2` and the
                `type` parameter's value as `3`. 
                
                
                For a daily meeting, the maximum interval you can set
                is `90` days. For a weekly meeting the maximum
                interval that you can set is  of `12` weeks. For a
                monthly meeting, there is a maximum of `3` months.

              example: 1
            type:
              type: integer
              description: |-
                Recurrence meeting types:  
                 `1` - Daily.  
                 `2` - Weekly.  
                 `3` - Monthly.
              example: 1
              x-enum-descriptions:
                - Daily
                - Weekly
                - Monthly
            weekly_days:
              type: string
              description: >-
                This field is required if you're scheduling a
                recurring meeting of type `2` to state which days of
                the week the meeting should repeat.   
                
                  The value for this field could be a number between `1` to `7` in string format. For instance, if the meeting should recur on Sunday, provide `1` as this field's value.  
                
                  **Note** To have the meeting occur on multiple days of a week, provide comma separated values for this field. For instance, if the meeting should recur on Sundays and Tuesdays provide `1,3` as this field's value.
                
                
                 `1`  - Sunday.   
                 `2` - Monday.  
                 `3` - Tuesday.  
                 `4` -  Wednesday.  
                 `5` -  Thursday.  
                 `6` - Friday.  
                 `7` - Saturday.
              example: '1'
              default: '1'
              enum:
                - '1'
                - '2'
                - '3'
                - '4'
                - '5'
                - '6'
                - '7'
          description: >-
            Recurrence object. Use this object only for a meeting with
            type `8`, a recurring meeting with a fixed time.
        settings:
          type: object
          properties:
            allow_multiple_devices:
              type: boolean
              description: >-
                Allow attendees to join the meeting from multiple
                devices. This setting only works for meetings that
                require
                [registration](https://support.zoom.us/hc/en-us/articles/211579443-Setting-up-registration-for-a-meeting).
              example: true
            alternative_hosts:
              type: string
              description: >-
                A semicolon-separated list of the meeting's
                alternative hosts' email addresses or IDs.
              example: jchill@example.com;thill@example.com
            alternative_hosts_email_notification:
              type: boolean
              description: >-
                Flag to determine whether to send email notifications
                to alternative hosts, default value is true.
              example: true
              default: true
            alternative_host_update_polls:
              type: boolean
              description: >-
                Whether the **Allow alternative hosts to add or edit
                polls** feature is enabled. This requires Zoom version
                5.8.0 or higher.
              example: true
            approval_type:
              type: integer
              description: >-
                Enable registration and set approval for the
                registration. Note that this feature requires the host
                to be of **Licensed** user type. **Registration cannot
                be enabled for a basic user.**   
                
                
                
                `0` - Automatically approve.  
                 `1` - Manually approve.  
                 `2` - No registration required.
              example: 0
              x-enum-descriptions:
                - Automatically Approve
                - Manually Approve
                - No Registration Required
              default: 2
            approved_or_denied_countries_or_regions:
              type: object
              properties:
                approved_list:
                  type: array
                  description: >-
                    List of countries/regions from where participants
                    can join this meeting.
                  items:
                    type: string
                    example: CX
                denied_list:
                  type: array
                  description: >-
                    List of countries/regions from where participants
                    can not join this meeting.
                  items:
                    type: string
                    example: CA
                enable:
                  type: boolean
                  description: >-
                    `true`: Setting enabled to either allow users or
                    block users from specific regions to join your
                    meetings.   
                    
                    
                    `false`: Setting disabled.
                  example: true
                method:
                  type: string
                  description: >-
                    Specify whether to allow users from specific
                    regions to join this meeting; or block users from
                    specific regions from joining this meeting.   
                    
                    
                    `approve`: Allow users from specific
                    regions/countries to join this meeting. If this
                    setting is selected, the approved
                    regions/countries must be included in the
                    `approved_list`.  
                    
                    
                    `deny`: Block users from specific
                    regions/countries from joining this meeting. If
                    this setting is selected, the approved
                    regions/countries must be included in the
                    `denied_list`
                  example: approve
                  enum:
                    - approve
                    - deny
              description: >
                Approve or block users from specific regions/countries
                from joining this meeting.
            audio:
              type: string
              description: >-
                Determine how participants can join the audio portion
                of the meeting.  
                 `both` - Both Telephony and VoIP.  
                 `telephony` - Telephony only.  
                 `voip` - VoIP only.  
                 `thirdParty` - Third party audio conference.
              example: telephony
              x-enum-descriptions:
                - Both Telephony and VoIP
                - Telephony only
                - VoIP only
                - Third party audio conference
              default: both
              enum:
                - both
                - telephony
                - voip
                - thirdParty
            audio_conference_info:
              maxLength: 2048
              type: string
              description: Third party audio conference info.
              example: test
            authentication_domains:
              type: string
              description: >-
                If user has configured [Sign Into Zoom with Specified
                Domains](https://support.zoom.us/hc/en-us/articles/360037117472-Authentication-Profiles-for-Meetings-and-Webinars#h_5c0df2e1-cfd2-469f-bb4a-c77d7c0cca6f)
                option, this will list the domains that are
                authenticated.
              example: example.com
            authentication_exception:
              type: array
              description: >-
                The participants added here will receive unique
                meeting invite links and bypass authentication.
              items:
                type: object
                properties:
                  email:
                    type: string
                    description: Email address of the participant.
                    format: email
                    example: jchill@example.com
                  name:
                    type: string
                    description: Name of the participant.
                    example: Jill Chill
                  join_url:
                    type: string
                    description: URL for participants to join the meeting
                    example: https://example.com/s/11111
            authentication_name:
              type: string
              description: >-
                Authentication name set in the [authentication
                profile](https://support.zoom.us/hc/en-us/articles/360037117472-Authentication-Profiles-for-Meetings-and-Webinars#h_5c0df2e1-cfd2-469f-bb4a-c77d7c0cca6f).
              example: Sign in to Zoom
            authentication_option:
              type: string
              description: Meeting authentication option id.
              example: signIn_D8cJuqWVQ623CI4Q8yQK0Q
            auto_recording:
              type: string
              description: |-
                Automatic recording:  
                 `local` - Record on local.  
                 `cloud` -  Record on cloud.  
                 `none` - Disabled.
              example: cloud
              x-enum-descriptions:
                - Record to local device
                - Record to cloud
                - No Recording
              default: none
              enum:
                - local
                - cloud
                - none
            breakout_room:
              type: object
              properties:
                enable:
                  type: boolean
                  description: >-
                    Set this field's value to `true` if you would like
                    to enable the [breakout room
                    pre-assign](https://support.zoom.us/hc/en-us/articles/360032752671-Pre-assigning-participants-to-breakout-rooms#h_36f71353-4190-48a2-b999-ca129861c1f4)
                    option.
                  example: true
                rooms:
                  type: array
                  description: Create room(s).
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        description: The breakout room's name.
                        example: room1
                      participants:
                        type: array
                        description: >-
                          Email addresses of the participants who are
                          to be assigned to the breakout room.
                        items:
                          type: string
                          example: jchill@example.com
              description: >-
                Setting to [pre-assign breakout
                rooms](https://support.zoom.us/hc/en-us/articles/360032752671-Pre-assigning-participants-to-breakout-rooms#h_36f71353-4190-48a2-b999-ca129861c1f4).
            calendar_type:
              type: integer
              description: >-
                Indicates the type of calendar integration used to
                schedule the meeting. 
                
                * `1` - [Zoom Outlook
                add-in](https://support.zoom.us/hc/en-us/articles/360031592971-Getting-started-with-Outlook-plugin-and-add-in) 
                
                * `2` - [Zoom for Google Workspace
                add-on](https://support.zoom.us/hc/en-us/articles/360020187492-Using-the-Zoom-for-Google-Workspace-add-on)
                
                
                Works with the `private_meeting` field to determine
                whether to share details of meetings or not.
              example: 1
              x-enum-descriptions:
                - Outlook
                - Google Calendar
            close_registration:
              type: boolean
              description: Close registration after event date
              example: false
              default: false
            cn_meeting:
              type: boolean
              description: Host meeting in China.
              example: false
              deprecated: true
              default: false
            contact_email:
              type: string
              description: Contact email for registration
              example: jchill@example.com
            contact_name:
              type: string
              description: Contact name for registration
              example: Jill Chill
            custom_keys:
              maxItems: 10
              type: array
              description: Custom keys and values assigned to the meeting.
              items:
                type: object
                properties:
                  key:
                    maxLength: 64
                    type: string
                    description: Custom key associated with the user.
                    example: key1
                  value:
                    maxLength: 256
                    type: string
                    description: >-
                      Value of the custom key associated with the
                      user.
                    example: value1
            email_notification:
              type: boolean
              description: >-
                Whether to send email notifications to [alternative
                hosts](https://support.zoom.us/hc/en-us/articles/208220166)
                and [users with scheduling
                privileges](https://support.zoom.us/hc/en-us/articles/201362803-Scheduling-privilege).
                This value defaults to `true`.
              example: true
              default: true
            encryption_type:
              type: string
              description: >-
                Choose between enhanced encryption and [end-to-end
                encryption](https://support.zoom.us/hc/en-us/articles/360048660871)
                when starting or a meeting. When using end-to-end
                encryption, several features (e.g. cloud recording,
                phone/SIP/H.323 dial-in) will be **automatically
                disabled**. 
                
                `enhanced_encryption` - Enhanced encryption.
                Encryption is stored in the cloud if you enable this
                option.   
                
                
                `e2ee` - [End-to-end
                encryption](https://support.zoom.us/hc/en-us/articles/360048660871).
                The encryption key is stored in your local device and
                can not be obtained by anyone else. Enabling this
                setting also **disables** the join before host, cloud
                recording, streaming, live transcription, breakout
                rooms, polling, 1:1 private chat, and meeting
                reactions features.
              example: enhanced_encryption
              enum:
                - enhanced_encryption
                - e2ee
            enforce_login:
              type: boolean
              description: >-
                Only signed in users can join this meeting.
                
                
                **This field is deprecated and will not be supported
                in the future.**    
                
                 As an alternative, use the `meeting_authentication`, `authentication_option`, and `authentication_domains` fields to understand the [authentication configurations](https://support.zoom.us/hc/en-us/articles/360037117472-Authentication-Profiles-for-Meetings-and-Webinars) set for the meeting.
              example: true
              deprecated: true
            enforce_login_domains:
              type: string
              description: >-
                Only signed in users with specified domains can join
                meetings.
                
                
                **This field is deprecated and will not be supported
                in the future.**    
                
                 As an alternative, use the `meeting_authentication`, `authentication_option`, and `authentication_domains` fields to understand the [authentication configurations](https://support.zoom.us/hc/en-us/articles/360037117472-Authentication-Profiles-for-Meetings-and-Webinars) set for the meeting.
              example: example.com
              deprecated: true
            focus_mode:
              type: boolean
              description: >-
                Whether the [**Focus Mode**
                feature](https://support.zoom.us/hc/en-us/articles/360061113751-Using-focus-mode)
                is enabled when the meeting starts.
              example: true
            global_dial_in_countries:
              type: array
              description: List of global dial-in countries
              items:
                type: string
                example: US
            global_dial_in_numbers:
              type: array
              description: Global Dial-in Countries/Regions
              items:
                type: object
                properties:
                  city:
                    type: string
                    description: >-
                      City of the number, if any. For example,
                      Chicago.
                    example: New York
                  country:
                    type: string
                    description: Country code. For example, BR.
                    example: US
                  country_name:
                    type: string
                    description: Full name of country. For example, Brazil.
                    example: US
                  number:
                    type: string
                    description: Phone number. For example, +1 2332357613.
                    example: +1 1000200200
                  type:
                    type: string
                    description: 'Type of number. '
                    example: toll
                    enum:
                      - toll
                      - tollfree
            host_video:
              type: boolean
              description: Start video when the host joins the meeting.
              example: true
            in_meeting:
              type: boolean
              description: Host meeting in India.
              example: false
              deprecated: true
              default: false
            jbh_time:
              type: integer
              description: >-
                If the value of `join_before_host` field is set to
                true, this field can be used to indicate time limits
                when a participant may join a meeting before a host.
                
                
                *  `0` - Allow participant to join anytime.
                
                *  `5` - Allow participant to join 5 minutes before
                meeting start time.
                 * `10` - Allow participant to join 10 minutes before meeting start time.
              example: 0
            join_before_host:
              type: boolean
              description: >-
                Allow participants to join the meeting before the host
                starts the meeting. Only used for scheduled or
                recurring meetings.
              example: true
              default: false
            language_interpretation:
              type: object
              properties:
                enable:
                  type: boolean
                  description: >-
                    Whether to enable [language
                    interpretation](https://support.zoom.us/hc/en-us/articles/360034919791-Language-interpretation-in-meetings-and-webinars)
                    for the meeting.
                  example: true
                interpreters:
                  type: array
                  description: >-
                    Information about the meeting's language
                    interpreters.
                  items:
                    type: object
                    properties:
                      email:
                        type: string
                        description: The interpreter's email address.
                        format: email
                        example: interpreter@example.com
                      languages:
                        type: string
                        description: >-
                          A comma-separated list of the interpreter's
                          languages. The string must contain two
                          [country
                          IDs](https://developers.zoom.us/docs/api/rest/other-references/abbreviation-lists/#countries). 
                          
                          
                          For example, if the interpreter will
                          translate from English to Chinese, then this
                          value will be `US,CN`.
                        example: US,FR
              description: >-
                The meeting's [language interpretation
                settings](https://support.zoom.us/hc/en-us/articles/360034919791-Language-interpretation-in-meetings-and-webinars).
                Make sure to add the language in the web portal in
                order to use it in the API. See link for details. 
                
                
                **Note:** This feature is only available for certain
                Meeting add-on, Education, and Business and higher
                plans. If this feature is not enabled on the host's
                account, this setting will **not** be applied to the
                meeting.
            sign_language_interpretation:
              type: object
              properties:
                enable:
                  type: boolean
                  description: >-
                    Whether to enable [sign language
                    interpretation](https://support.zoom.us/hc/en-us/articles/9644962487309-Using-sign-language-interpretation-in-a-meeting-or-webinar)
                    for the meeting.
                  example: true
                interpreters:
                  maximum: 20
                  type: array
                  description: >-
                    Information about the meeting's sign language
                    interpreters.
                  items:
                    type: object
                    properties:
                      email:
                        type: string
                        description: The interpreter's email address.
                        format: email
                        example: interpreter@example.com
                      sign_language:
                        type: string
                        description: |-
                          The interpreter's sign language. 
                          
                           To get this value, use the `sign_language_interpretation` object's `languages` and `custom_languages` values in the [**Get user settings**](/api-reference/zoom-api/methods#operation/userSettings) API response.
                        example: American
              description: >-
                The meeting's [sign language interpretation
                settings](https://support.zoom.us/hc/en-us/articles/9644962487309-Using-sign-language-interpretation-in-a-meeting-or-webinar).
                Make sure to add the language in the web portal in
                order to use it in the API. See link for details. 
                
                
                **Note:** If this feature is not enabled on the host's
                account, this setting will **not** be applied to the
                meeting.
            meeting_authentication:
              type: boolean
              description: '`true`- Only authenticated users can join meetings.'
              example: true
            mute_upon_entry:
              type: boolean
              description: Mute participants upon entry.
              example: false
              default: false
            participant_video:
              type: boolean
              description: Start video when participants join the meeting.
              example: false
            private_meeting:
              type: boolean
              description: Whether the meeting is set as private.
              example: false
            registrants_confirmation_email:
              type: boolean
              description: |-
                Whether to send registrants an email confirmation.
                * `true` - Send a confirmation email.
                * `false` - Do not send a confirmation email.
              example: true
            registrants_email_notification:
              type: boolean
              description: >-
                Whether to send registrants email notifications about
                their registration approval, cancellation, or
                rejection.
                
                
                * `true` - Send an email notification.
                
                * `false` - Do not send an email notification.
                
                 Set this value to `true` to also use the `registrants_confirmation_email` parameter.
              example: true
            registration_type:
              type: integer
              description: >-
                Registration type. Used for recurring meeting with
                fixed time only. 
                 `1` Attendees register once and can attend any of the occurrences.  
                 `2` Attendees need to register for each occurrence to attend.  
                 `3` Attendees register once and can choose one or more occurrences to attend.
              example: 1
              x-enum-descriptions:
                - >-
                  Attendees register once and can attend any of the
                  occurrences
                - >-
                  Attendees need to register for each occurrence to
                  attend
                - >-
                  Attendees register once and can choose one or more
                  occurrences to attend
              default: 1
            show_share_button:
              type: boolean
              description: >-
                Show social share buttons on the meeting registration
                page.
                
                This setting only works for meetings that require
                [registration](https://support.zoom.us/hc/en-us/articles/211579443-Setting-up-registration-for-a-meeting).
              example: true
            use_pmi:
              type: boolean
              description: >-
                Use a [Personal Meeting ID
                (PMI)](https://developers.zoom.us/docs/api/rest/using-zoom-apis/#understanding-personal-meeting-id-pmi).
                Only used for scheduled meetings and recurring
                meetings with no fixed time.
              example: false
              default: false
            waiting_room:
              type: boolean
              description: Enable waiting room
              example: false
              default: false
            watermark:
              type: boolean
              description: Add watermark when viewing a shared screen.
              example: false
              default: false
            host_save_video_order:
              type: boolean
              description: >-
                Whether the **Allow host to save video order** feature
                is enabled.
              example: true
            internal_meeting:
              type: boolean
              description: Whether to set the meeting as an internal meeting.
              example: false
              default: false
            continuous_meeting_chat:
              type: object
              properties:
                enable:
                  type: boolean
                  description: >-
                    Whether to enable the **Enable continuous meeting
                    chat** setting.
                  example: true
                auto_add_invited_external_users:
                  type: boolean
                  description: >-
                    Whether to enable the **Automatically add invited
                    external users** setting.
                  example: true
              description: >-
                Information about the **Enable continuous meeting
                chat** feature.
            participant_focused_meeting:
              type: boolean
              description: >-
                Whether to set the meeting as a participant focused
                meeting.
              example: false
              default: false
            push_change_to_calendar:
              type: boolean
              description: >-
                Whether to push meeting changes to the calendar. 
                
                 To enable this feature, configure the **Configure Calendar and Contacts Service** in the user's profile page of the Zoom web portal and enable the **Automatically sync Zoom calendar events information bi-directionally between Zoom and integrated calendars.** setting in the **Settings** page of the Zoom web portal.
                * `true` - Push meeting changes to the calendar.
                
                * `false` - Do not push meeting changes to the
                calendar.
              example: false
              default: false
            resources:
              type: array
              description: The meeting's resources.
              items:
                type: object
                properties:
                  resource_type:
                    type: string
                    description: The resource type.
                    example: whiteboard
                    enum:
                      - whiteboard
                  resource_id:
                    type: string
                    description: The resource ID.
                    example: X4Hy02w3QUOdskKofgb9Jg
                  permission_level:
                    type: string
                    description: >-
                      The permission levels for users to access the
                      whiteboard. 
                      
                      * `editor` - Users with link access can edit the
                      board. 
                      
                      * `commenter` - Users with link access can
                      comment on the board. 
                      
                      * `viewer` - Users with link access can view the
                      board.
                    example: editor
                    default: editor
                    enum:
                      - editor
                      - commenter
                      - viewer
          description: Meeting settings.
        start_time:
          type: string
          description: >
            Meeting start time in GMT or UTC. Start time will not be
            returned if the meeting is an **instant** meeting.
          format: date-time
          example: '2022-03-25T07:29:29Z'
        start_url:
          type: string
          description: "The `start_url` of a meeting is a URL that a host or an alternative host can start the meeting. \n\nThe expiration time for the `start_url` field listed in the response of the [**Create a meeting**](/docs/api-reference/zoom-api/methods#operation/meetingCreate) API is two hours for all regular users. \n\t\nFor users created using the `custCreate` option via the [**Create users**](/docs/api-reference/zoom-api/methods#operation/userCreate) API, the expiration time of the `start_url` field is 90 days.\n\t\nFor security reasons, to retrieve the updated value for the `start_url` field programmatically after the expiry time, you must call the [**Get a meeting](/docs/api-reference/zoom-api/methods#operation/meeting) API and refer to the value of the `start_url` field in the response.  \n This URL should only be used by the host of the meeting and **should not be shared with anyone other than the host** of the meeting as anyone with this URL will be able to login to the Zoom Client as the host of the meeting."
          example: https://example.com/s/11111
        status:
          type: string
          description: Meeting status
          example: waiting
          enum:
            - waiting
            - started
        timezone:
          type: string
          description: The timezone to format the meeting start time.
          example: America/Los_Angeles
        topic:
          type: string
          description: Meeting topic.
          example: My Meeting
        tracking_fields:
          type: array
          description: Tracking fields.
          items:
            type: object
            properties:
              field:
                type: string
                description: The tracking field's label.
                example: field1
              value:
                type: string
                description: The tracking field's value.
                example: value1
              visible:
                type: boolean
                description: >-
                  Indicates whether the [tracking
                  field](https://support.zoom.us/hc/en-us/articles/115000293426-Scheduling-Tracking-Fields)
                  is visible in the meeting scheduling options in the
                  Zoom Web Portal or not.
                  
                  
                  `true`: Tracking field is visible.   
                  
                  
                  `false`: Tracking field is not visible to the users
                  when they look at the meeting details in the Zoom
                  Web Portal but the field was used while scheduling
                  this meeting via API. An invisible tracking field
                  can be used by users while scheduling meetings via
                  API only.
                example: true
        type:
          type: integer
          description: |-
            Meeting types. 
             `1` - Instant meeting.  
             `2` - Scheduled meeting.  
             `3` - Recurring meeting with no fixed time.  
             `4` - PMI Meeting  
            
            `8` - Recurring meeting with a fixed time.
          example: 2
          x-enum-descriptions:
            - Instant Meeting
            - Scheduled Meeting
            - Recurring Meeting with no fixed time
            - Recurring Meeting with fixed time
          default: 2
    MeetingCreateOrUpdate:
      description: Meeting object.
      type: object
      properties:
        agenda:
          maxLength: 2000
          type: string
          description: Meeting description.
          example: My Meeting
        duration:
          type: integer
          description: >-
            Meeting duration in minutes. Used for scheduled meetings
            only.
          example: 60
        password:
          maxLength: 10
          type: string
          description: >-
            Meeting passcode. Passcodes may only contain these
            characters [a-z A-Z 0-9 @ - _ *] and can have a maximum of
            10 characters.


            **Note** If the account owner or the admin has configured
            [minimum passcode requirement
            settings](https://support.zoom.us/hc/en-us/articles/360033559832-Meeting-and-webinar-passwords#h_a427384b-e383-4f80-864d-794bf0a37604),
            the passcode value provided here must meet those
            requirements.   

             If the requirements are enabled, view those requirements by calling either the [**Get user settings**](/docs/api-reference/zoom-api/methods#operation/userSettings) API or the [**Get account settings**](/docs/api-reference/zoom-api/ma#operation/accountSettings) API.
          example: '123456'
        pre_schedule:
          type: boolean
          description: >-
            Whether to create a prescheduled meeting through the [GSuite
            app](https://support.zoom.us/hc/en-us/articles/360020187492-Zoom-for-GSuite-add-on).
            This **only** supports the meeting `type` value of `2` -
            scheduled meetings- and `3` - recurring meetings with no
            fixed time. 

            * `true` - Create a prescheduled meeting. 

            * `false` - Create a regular meeting.
          example: false
          default: false
        schedule_for:
          type: string
          description: >-
            The email address or `userId` of the user to schedule a
            meeting for.
          example: jchill@example.com
        recurrence:
          required:
            - type
          type: object
          properties:
            end_date_time:
              type: string
              description: >-
                Select the final date when the meeting recurs before it
                is canceled. Should be in UTC time, such as
                2017-11-25T12:00:00Z. Cannot be used with `end_times`.
              format: date-time
              example: '2022-04-02T15:59:00Z'
            end_times:
              maximum: 60
              type: integer
              description: >-
                Select how many times the meeting should recur before it
                is canceled. The maximum number of recurrences is 60.
                Cannot be used with `end_date_time`.
              example: 7
              default: 1
            monthly_day:
              type: integer
              description: >-
                Use this field **only if you're scheduling a recurring
                meeting of type** `3` to state the day in a month when
                the meeting should recur. The value range is from 1 to
                31.


                For instance, if the meeting should recur on 23rd of
                each month, provide `23` as this field's value and `1`
                as the `repeat_interval` field's value. If the meeting
                should recur every three months on 23rd of the month,
                change the `repeat_interval` field's value to `3`.
              example: 1
              default: 1
            monthly_week:
              type: integer
              description: >-
                Use this field **only if you're scheduling a recurring
                meeting of type** `3` to state the week of the month
                when the meeting should recur. If you use this field,
                you must also use the `monthly_week_day` field to state
                the day of the week when the meeting should recur.   
                 `-1` - Last week of the month.  
                 `1` - First week of the month.  
                 `2` - Second week of the month.  
                 `3` - Third week of the month.  
                 `4` - Fourth week of the month.
              example: 1
              x-enum-descriptions:
                - Last week
                - First week
                - Second week
                - Third week
                - Fourth week
            monthly_week_day:
              type: integer
              description: >-
                Use this field only if you're scheduling a recurring
                meeting of type `3` to state a specific day in a week
                when a monthly meeting should recur. To use this field,
                you must also use the `monthly_week` field. 


                 `1` - Sunday.  
                 `2` - Monday.  
                 `3` - Tuesday.  
                 `4` -  Wednesday.  
                 `5` - Thursday.  
                 `6` - Friday.  
                 `7` - Saturday.
              example: 1
              x-enum-descriptions:
                - Sunday
                - Monday
                - Tuesday
                - Wednesday
                - Thursday
                - Friday
                - Saturday
            repeat_interval:
              type: integer
              description: >+
                Define the interval when the meeting should recur. For
                instance, to schedule a meeting that recurs every two
                months, set this field's value as `2` and the `type`
                parameter's value to `3`. 


                For a daily meeting, the maximum interval is `90` days.
                For a weekly meeting, the maximum interval is `12`
                weeks. For a monthly meeting, the maximum value is `3`
                months.

              example: 1
            type:
              type: integer
              description: |-
                Recurrence meeting types.
                 `1` - Daily.
                 `2` - Weekly.
                 `3` - Monthly.
              example: 1
              x-enum-descriptions:
                - Daily
                - Weekly
                - Monthly
            weekly_days:
              type: string
              description: >-
                This field is required if you're scheduling a recurring
                meeting of type `2`, to state which days of the week the
                meeting should repeat.


                Thiw field's value could be a number between `1` to `7`
                in string format. For instance, if the meeting should
                recur on Sunday, provide `1` as this field's value.

                  **Note** If you would like the meeting to occur on multiple days of a week, you should provide comma separated values for this field. For instance, if the meeting should recur on Sundays and Tuesdays provide `1,3` as this field's value.


                 `1`  - Sunday.
                 `2` - Monday.
                 `3` - Tuesday.
                 `4` -  Wednesday.
                 `5` -  Thursday.
                 `6` - Friday.
                 `7` - Saturday.
              example: '1'
              default: '1'
              enum:
                - '1'
                - '2'
                - '3'
                - '4'
                - '5'
                - '6'
                - '7'
          description: >-
            Recurrence object. Use this object only for a meeting with
            type `8`, a recurring meeting with fixed time.
        settings:
          type: object
          properties:
            allow_multiple_devices:
              type: boolean
              description: >-
                Allow attendees to join the meeting from multiple
                devices. This setting only works for meetings that
                require
                [registration](https://support.zoom.us/hc/en-us/articles/211579443-Setting-up-registration-for-a-meeting).
              example: true
            alternative_hosts:
              type: string
              description: >-
                A semicolon-separated list of the meeting's alternative
                hosts' email addresses or IDs.
              example: jchill@example.com;thill@example.com
            alternative_hosts_email_notification:
              type: boolean
              description: >-
                Flag to determine whether to send email notifications to
                alternative hosts, default value is true.
              example: true
              default: true
            alternative_host_update_polls:
              type: boolean
              description: >-
                Whether the **Allow alternative hosts to add or edit
                polls** feature is enabled. This requires Zoom version
                5.8.0 or higher.
              example: true
            approval_type:
              type: integer
              description: >-
                Enable registration and set approval for the
                registration. Note that this feature requires the host
                to be of **Licensed** user type. **Registration cannot
                be enabled for a basic user.**



                `0` - Automatically approve.
                 `1` - Manually approve.
                 `2` - No registration required.
              example: 0
              x-enum-descriptions:
                - Automatically Approve
                - Manually Approve
                - No Registration Required
              default: 2
            approved_or_denied_countries_or_regions:
              type: object
              properties:
                approved_list:
                  type: array
                  description: >-
                    List of countries or regions from where participants
                    can join this meeting.
                  items:
                    type: string
                    example: CX
                denied_list:
                  type: array
                  description: >-
                    List of countries or regions from where participants
                    can not join this meeting.
                  items:
                    type: string
                    example: CA
                enable:
                  type: boolean
                  description: >-
                    `true` - Setting enabled to either allow users or
                    block users from specific regions to join your
                    meetings.


                    `false` - Setting disabled.
                  example: true
                method:
                  type: string
                  description: >-
                    Specify whether to allow users from specific regions
                    to join this meeting, or block users from specific
                    regions from joining this meeting.


                    `approve` - Allow users from specific regions or
                    countries to join this meeting. If this setting is
                    selected, include the approved regions or countries
                    in the `approved_list`.



                    `deny` - Block users from specific regions or
                    countries from joining this meeting. If this setting
                    is selected, include the approved regions
                    orcountries in the `denied_list`
                  example: approve
                  enum:
                    - approve
                    - deny
              description: >
                Approve or block users from specific regions or
                countries from joining this meeting.
            audio:
              type: string
              description: >-
                Determine how participants can join the audio portion of
                the meeting.
                 `both` - Both Telephony and VoIP.
                 `telephony` - Telephony only.
                 `voip` - VoIP only.
                 `thirdParty` - Third party audio conference.
              example: telephony
              x-enum-descriptions:
                - Both Telephony and VoIP
                - Telephony only
                - VoIP only
                - Third party audio conference
              default: both
              enum:
                - both
                - telephony
                - voip
                - thirdParty
            audio_conference_info:
              maxLength: 2048
              type: string
              description: Third party audio conference info.
              example: test
            authentication_domains:
              type: string
              description: >-
                If user has configured [Sign Into Zoom with Specified
                Domains](https://support.zoom.us/hc/en-us/articles/360037117472-Authentication-Profiles-for-Meetings-and-Webinars#h_5c0df2e1-cfd2-469f-bb4a-c77d7c0cca6f)
                option, this will list the domains that are
                authenticated.
              example: example.com
            authentication_exception:
              type: array
              description: >-
                The participants added here will receive unique meeting
                invite links and bypass authentication.
              items:
                type: object
                properties:
                  email:
                    type: string
                    description: The participant's email address.
                    format: email
                    example: jchill@example.com
                  name:
                    type: string
                    description: The participant's name.
                    example: Jill Chill
                  join_url:
                    type: string
                    description: URL for participants to join the meeting
                    example: https://example.com/s/11111
            authentication_name:
              type: string
              description: >-
                Authentication name set in the [authentication
                profile](https://support.zoom.us/hc/en-us/articles/360037117472-Authentication-Profiles-for-Meetings-and-Webinars#h_5c0df2e1-cfd2-469f-bb4a-c77d7c0cca6f).
              example: Sign in to Zoom
            authentication_option:
              type: string
              description: Meeting authentication option ID.
              example: signIn_D8cJuqWVQ623CI4Q8yQK0Q
            auto_recording:
              type: string
              description: |-
                Automatic recording.
                 `local` - Record on local.
                 `cloud` -  Record on cloud.
                 `none` - Disabled.
              example: cloud
              x-enum-descriptions:
                - Record to local device
                - Record to cloud
                - No Recording
              default: none
              enum:
                - local
                - cloud
                - none
            breakout_room:
              type: object
              properties:
                enable:
                  type: boolean
                  description: >-
                    Set this field's value to `true` to enable the
                    [breakout room
                    pre-assign](https://support.zoom.us/hc/en-us/articles/360032752671-Pre-assigning-participants-to-breakout-rooms#h_36f71353-4190-48a2-b999-ca129861c1f4)
                    option.
                  example: true
                rooms:
                  type: array
                  description: Create room(s).
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        description: The breakout room's name.
                        example: room1
                      participants:
                        type: array
                        description: >-
                          Email addresses of the participants who are to
                          be assigned to the breakout room.
                        items:
                          type: string
                          example: jchill@example.com
              description: >-
                Setting to [pre-assign breakout
                rooms](https://support.zoom.us/hc/en-us/articles/360032752671-Pre-assigning-participants-to-breakout-rooms#h_36f71353-4190-48a2-b999-ca129861c1f4).
            calendar_type:
              type: integer
              description: >-
                The type of calendar integration used to schedule the
                meeting.

                * `1` - [Zoom Outlook
                add-in](https://support.zoom.us/hc/en-us/articles/360031592971-Getting-started-with-Outlook-plugin-and-add-in)

                * `2` - [Zoom for Google Workspace
                add-on](https://support.zoom.us/hc/en-us/articles/360020187492-Using-the-Zoom-for-Google-Workspace-add-on)


                Works with the `private_meeting` field to determine
                whether to share details of meetings.
              example: 1
              x-enum-descriptions:
                - Outlook
                - Google Calendar
            close_registration:
              type: boolean
              description: Close registration after the event date.
              example: false
              default: false
            cn_meeting:
              type: boolean
              description: Host the meeting in China.
              example: false
              deprecated: true
              default: false
            contact_email:
              type: string
              description: Contact email for registration.
              example: jchill@example.com
            contact_name:
              type: string
              description: Contact name for registration.
              example: Jill Chill
            custom_keys:
              maxItems: 10
              type: array
              description: Custom keys and values assigned to the meeting.
              items:
                type: object
                properties:
                  key:
                    maxLength: 64
                    type: string
                    description: Custom key associated with the user.
                    example: key1
                  value:
                    maxLength: 256
                    type: string
                    description: Value of the custom key associated with the user.
                    example: value1
            email_notification:
              type: boolean
              description: >-
                Whether to send email notifications to [alternative
                hosts](https://support.zoom.us/hc/en-us/articles/208220166)
                and [users with scheduling
                privileges](https://support.zoom.us/hc/en-us/articles/201362803-Scheduling-privilege).
                This value defaults to `true`.
              example: true
              default: true
            encryption_type:
              type: string
              description: >-
                Choose between enhanced encryption and [end-to-end
                encryption](https://support.zoom.us/hc/en-us/articles/360048660871)
                when starting or a meeting. When using end-to-end
                encryption, several features such cloud recording and
                phone/SIP/H.323 dial-in, will be **automatically
                disabled**.


                `enhanced_encryption` - Enhanced encryption. Encryption
                is stored in the cloud if you enable this option.


                `e2ee` - [End-to-end
                encryption](https://support.zoom.us/hc/en-us/articles/360048660871).
                The encryption key is stored in your local device and
                can not be obtained by anyone else. Enabling this
                setting also **disables** the features join before host,
                cloud recording, streaming, live transcription, breakout
                rooms, polling, 1:1 private chat, and meeting reactions.
              example: enhanced_encryption
              enum:
                - enhanced_encryption
                - e2ee
            enforce_login:
              type: boolean
              description: >-
                Only signed in users can join this meeting.


                **This field is deprecated and will not be supported in
                the future.**

                 As an alternative, use the `meeting_authentication`, `authentication_option`, and `authentication_domains` fields to understand the [authentication configurations](https://support.zoom.us/hc/en-us/articles/360037117472-Authentication-Profiles-for-Meetings-and-Webinars) set for the meeting.
              example: true
              deprecated: true
            enforce_login_domains:
              type: string
              description: >-
                Only signed in users with specified domains can join
                meetings.


                **This field is deprecated and will not be supported in
                the future.**

                 As an alternative, use the `meeting_authentication`, `authentication_option`. and `authentication_domains` fields to understand the [authentication configurations](https://support.zoom.us/hc/en-us/articles/360037117472-Authentication-Profiles-for-Meetings-and-Webinars) set for the meeting.
              example: example.com
              deprecated: true
            focus_mode:
              type: boolean
              description: >-
                Whether the [**Focus Mode**
                feature](https://support.zoom.us/hc/en-us/articles/360061113751-Using-focus-mode)
                is enabled when the meeting starts.
              example: true
            global_dial_in_countries:
              type: array
              description: List of global dial-in countries
              items:
                type: string
                example: US
            global_dial_in_numbers:
              type: array
              description: Global dial-in countries or regions
              items:
                type: object
                properties:
                  city:
                    type: string
                    description: City of the number, if any, such as Chicago.
                    example: New York
                  country:
                    type: string
                    description: Country code, such as BR.
                    example: US
                  country_name:
                    type: string
                    description: Full name of country, such as Brazil.
                    example: US
                  number:
                    type: string
                    description: Phone number, such as +1 2332357613.
                    example: +1 1000200200
                  type:
                    type: string
                    description: 'Type of number. '
                    example: toll
                    enum:
                      - toll
                      - tollfree
            host_video:
              type: boolean
              description: Start video when the host joins the meeting.
              example: true
            in_meeting:
              type: boolean
              description: Host meeting in India.
              example: false
              deprecated: true
              default: false
            jbh_time:
              type: integer
              description: >-
                If the value of `join_before_host` field is set to true,
                use this field to indicate time limits for a participant
                to join a meeting before a host.


                *  `0` - Allow participant to join anytime.

                *  `5` - Allow participant to join 5 minutes before
                meeting start time.
                 * `10` - Allow participant to join 10 minutes before meeting start time.
              example: 0
            join_before_host:
              type: boolean
              description: >-
                Allow participants to join the meeting before the host
                starts the meeting. Only used for scheduled or recurring
                meetings.
              example: true
              default: false
            language_interpretation:
              type: object
              properties:
                enable:
                  type: boolean
                  description: >-
                    Whether to enable [language
                    interpretation](https://support.zoom.us/hc/en-us/articles/360034919791-Language-interpretation-in-meetings-and-webinars)
                    for the meeting.
                  example: true
                interpreters:
                  type: array
                  description: >-
                    Information about the meeting's language
                    interpreters.
                  items:
                    type: object
                    properties:
                      email:
                        type: string
                        description: The interpreter's email address.
                        format: email
                        example: interpreter@example.com
                      languages:
                        type: string
                        description: >-
                          A comma-separated list of the interpreter's
                          languages. The string must contain two
                          [country
                          IDs](https://developers.zoom.us/docs/api/rest/other-references/abbreviation-lists/#countries).


                          For example, if the interpreter will translate
                          from English to Chinese, then this value will
                          be `US,CN`.
                        example: US,FR
              description: >-
                The meeting's [language interpretation
                settings](https://support.zoom.us/hc/en-us/articles/360034919791-Language-interpretation-in-meetings-and-webinars).
                Make sure to add the language in the web portal in order
                to use it in the API. See link for details.


                **Note:** This feature is only available for certain
                Meeting add-on, Education, and Business and higher
                plans. If this feature is not enabled on the host's
                account, this setting will **not** be applied to the
                meeting.
            sign_language_interpretation:
              type: object
              properties:
                enable:
                  type: boolean
                  description: >-
[...]
