{"openapi":"3.0.0","info":{"title":"Zoom Meeting API","description":"The Zoom Meeting APIs let developers to access information from Zoom.","termsOfService":"https://zoom.us/docs/en-us/zoom_api_license_and_tou.html","contact":{"name":"Zoom Developers","url":"https://developer.zoom.us/"},"version":"2"},"externalDocs":{"description":"Find out more about Swagger","url":"https://swagger.io"},"servers":[{"url":"https://api.zoom.us/v2"}],"paths":{"/accounts/{accountId}/lock_settings":{"get":{"tags":["Accounts"],"summary":"Get locked settings","description":"Retrieve an account's locked settings. \n\n Account admins and account owners can use [Account Locked Settings](https://support.zoom.us/hc/en-us/articles/115005269866) to toggle settings on or off for all users in their account. \n\n\n**Note:** You can use Account Locked Settings with accounts that have master and sub accounts enabled.   \n   \n \n**Prerequisites:**\n* Pro or a higher paid account.   \n \n\n\n\n**Scopes:** `account:read:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`","operationId":"getAccountLockSettings","parameters":[{"name":"accountId","in":"path","required":false,"style":"SIMPLE","explode":false,"schema":{"type":"string"}},{"name":"option","in":"query","description":"Optional query parameters: \n* `meeting_security` &mdash; Use this query parameter to view the meeting security settings applied to the user's account.","required":false,"style":"FORM","explode":true,"schema":{"type":"string","example":"meeting_security"}},{"name":"custom_query_fields","in":"query","description":"Provide the name of the field by which you would like to filter the response. For example, if you provide &quot;host_video&quot; as the value of this field, you will get a response similar to the following:  \n \n{\n    &quot;schedule_meeting&quot;: {\n        &quot;host_video&quot;: false\n    }\n}\n  \n You can provide multiple values by separating them with commas(example: &quot;host_video,participant_video&rdquo;).","required":false,"style":"FORM","explode":true,"schema":{"type":"string","example":"in_meeting"}}],"responses":{"200":{"description":"**Error Code:** `200`  \n \nOnly available for paid account:$accountId.\n\n**HTTP Status Code:** `200`  \n \nLocked settings for the Account returned.\n\n","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"audio_conferencing":{"type":"object","properties":{"toll_free_and_fee_based_toll_call":{"type":"boolean","description":"Whether the account has the [**Toll-free and Fee-based Toll Call**](https://support.zoom.us/hc/en-us/articles/360060950711-Enabling-Toll-free-and-Fee-based-Toll-Call#h_01F51680NJ7YHZDXGJNSKDGM2P) setting enabled.","example":true}}},"chat":{"type":"object","properties":{"share_files":{"type":"boolean","description":"Users can share files in chats and channels.","example":true},"chat_emojis":{"type":"boolean","description":"Allow users to use the emoji library in direct messages or group conversations. Choose between allowing users to use any emoji in the library, or using only pre-selected emojis. If the setting is disabled, users can still use keyboard shortcuts to add emojis. Users can change their emoji skin tone in Settings.","example":true},"record_voice_messages":{"type":"boolean","description":"Allow users to record voice messages that can be sent in direct messages or group conversations.","example":true},"record_video_messages":{"type":"boolean","description":"Allow users to record video messages that can be sent in direct messages or group conversations. If the file share setting is disabled, they will not be able to record and send video messages.","example":true},"screen_capture":{"type":"boolean","description":"Allow users to take and send screenshots in direct messages or group conversations.","example":true},"share_links_in_chat":{"type":"boolean","description":"Share links to messages and channels in Team Chat.","example":true},"schedule_meetings_in_chat":{"type":"boolean","description":"Schedule a meeting from chat or channel.","example":true},"set_retention_period_in_cloud":{"type":"boolean","description":"By default, messages and files are stored in Zoom's cloud. Enable this setting to specify when they are deleted. When retention is disabled, messages sent by offline users can be received within 7 days before they are deleted.","example":true},"set_retention_period_in_local":{"type":"boolean","description":"Specify how long your messages are saved on local devices. If this setting is disabled, messages are never deleted locally.","example":true},"allow_users_to_add_contacts":{"type":"boolean","description":"Whether to allow users to add contacts.","example":true},"allow_users_to_chat_with_others":{"type":"boolean","description":"Whether to Allow users to chat with others.","example":true},"chat_etiquette_tool":{"type":"boolean","description":"Whether to enable the **Chat Etiquette Tool**.","example":true},"send_data_to_third_party_archiving_service":{"type":"boolean","description":"Whether to send data to third-party archiving service.","example":true},"translate_messages":{"type":"boolean","description":"Allow users to translate team chat messages. [Learn more].(https://support.zoom.us/hc/en-us/articles/12998089084685)","example":true},"search_and_send_animated_gif_images":{"type":"boolean","description":"Whether to allow users to search GIF images from GIPHY when they compose messages.","example":true}}},"email_notification":{"type":"object","properties":{"alternative_host_reminder":{"type":"boolean","description":"Notify the alternative host who is set or removed.","example":true},"cancel_meeting_reminder":{"type":"boolean","description":"Notify host and participants when the meeting is cancelled.","example":true},"cloud_recording_available_reminder":{"type":"boolean","description":"Whether to notify the host when a cloud recording is available.","example":true},"jbh_reminder":{"type":"boolean","description":"Notify host when participants join the meeting before them.","example":true},"schedule_for_reminder":{"type":"boolean","description":"Notify the host there is a meeting is scheduled, rescheduled, or cancelled.","example":true}}},"in_meeting":{"type":"object","properties":{"alert_guest_join":{"type":"boolean","description":"Allow participants who belong to your account to see that a guest (someone who does not belong to your account) is participating in the meeting or webinar.","example":true},"allow_users_to_delete_messages_in_meeting_chat":{"type":"boolean","description":"If the value of this field is set to `true`,  allow users to delete messages in the in-meeting chat.\n","example":true},"allow_live_streaming":{"type":"boolean","description":"Whether to allow livestreaming.","example":true},"allow_show_zoom_windows":{"type":"boolean","description":"Show Zoom windows during screen share.","example":true},"annotation":{"type":"boolean","description":"Allow participants to use annotation tools to add information to shared screens.","example":true},"anonymous_question_answer":{"type":"boolean","example":true},"attendee_on_hold":{"type":"boolean","description":"Allow host to put attendee on hold.\n\n**This field has been deprecated and is no longer supported.**","example":true,"deprecated":true,"default":false},"attention_mode_focus_mode":{"type":"boolean","description":"Whether to enable the [**Focus Mode**](https://support.zoom.us/hc/en-us/articles/360061113751-Using-focus-mode) feature. When enabled, this feature only displays the host and co-hosts' video and profile pictures during a meeting. \n\n This value defaults to `false`.","example":true,"default":false},"auto_answer":{"type":"boolean","description":"Enable users to see and add contacts to 'auto-answer group' in the contact list on chat. Any call from members of this group will be automatically answered.","example":true},"auto_generated_captions":{"type":"boolean","description":"Whether to enable Zoom's [live transcription feature](https://support.zoom.us/hc/en-us/articles/207279736-Managing-closed-captioning-and-live-transcription#h_01FHGGHYJ4457H4GSZY0KM3NSB).","example":true},"auto_saving_chat":{"type":"boolean","description":"Automatically save all in-meeting chats.","example":true},"breakout_room":{"type":"boolean","description":"Allow host to split meeting participants into separate, smaller rooms.","example":true},"chat":{"type":"boolean","description":"Allow meeting participants to send chat message visible to all participants.","example":true},"meeting_question_answer":{"type":"boolean","description":"Allow participants to ask questions for the host and participants to answer.","example":true},"closed_caption":{"type":"boolean","description":"Allow host to type closed captions or assign a participant/third party device to add closed captions.","example":true},"co_host":{"type":"boolean","description":"Allow the host to add co-hosts. Co-hosts have the same in-meeting controls as the host.","example":true},"custom_data_center_regions":{"type":"boolean","description":"Displays whether or not custom [data center regions](https://support.zoom.us/hc/en-us/articles/360042411451-Selecting-data-center-regions-for-hosted-meetings-and-webinars) have been selected for meetings/webinars hosted by the account.","example":true},"disable_screen_sharing_for_host_meetings":{"type":"boolean","description":"Whether to enable the **Disable desktop screen sharing for meetings you host** setting.","example":true},"disable_screen_sharing_for_in_meeting_guests":{"type":"boolean","description":"Whether to enable the **Disable screen sharing when guests are in the meeting** setting.","example":true},"dscp_marking":{"type":"boolean","description":"Enable DSCP marking for signaling and media packets. (Default is 56 for audio, 40 for video, and 40 for signaling.) ","example":true},"e2e_encryption":{"type":"boolean","description":"Require that all meetings are encrypted using AES.","example":true},"entry_exit_chime":{"type":"string","description":"Play sound when participants join or leave.","example":"none"},"far_end_camera_control":{"type":"boolean","description":"Allow another user to take control of the camera during a meeting.","example":true},"feedback":{"type":"boolean","description":"Enable users to provide feedback to Zoom at the end of the meeting.","example":true},"file_transfer":{"type":"boolean","description":"Indicates whether [in-meeting file transfer](https://support.zoom.us/hc/en-us/articles/209605493-In-meeting-file-transfer) setting has been enabled for all users on the account or not.","example":true},"full_transcript":{"type":"boolean","description":"Whether full transcripts are available for viewing in the in-meeting side panel.","example":true},"group_hd":{"type":"boolean","description":"Enable higher quality video for host and participants in Meeting. This will require more bandwidth.","example":true},"webinar_group_hd":{"type":"boolean","description":"Enable higher quality video for host and participants in Webinar. This will require more bandwidth.","example":true},"language_interpretation":{"type":"boolean","description":"Whether hosts can assign participants as interpreters to interpret one language into another in real-time.","example":true},"sign_language_interpretation":{"type":"boolean","description":"Allow hosts to assign participants as sign language interpreters who can interpret one language into sign language in real-time. Hosts can assign interpreters when scheduling, or during the meeting itself. This feature is only available with version 5.11.3 or later.","example":true},"manual_captions":{"type":"boolean","description":"Whether to enable manual closed captioning. When [enabled](https://support.zoom.us/hc/en-us/articles/207279736-Managing-closed-captioning-and-live-transcription), the host or assigned participant can provide manual captioning or a [3rd-party device](https://support.zoom.us/hc/en-us/articles/115002212983) can be assigned to provide captioning.","example":true},"meeting_reactions":{"type":"boolean","description":"Whether meeting participants can [communicate using the emoji reactions](https://support.zoom.us/hc/en-us/articles/115001286183-Nonverbal-feedback-and-meeting-reactions) located in the **Reactions** menu in the meeting toolbar.","example":true},"webinar_reactions":{"type":"boolean","description":"Set this field to true to use [webinar reactions](https://support.zoom.us/hc/en-us/articles/4803536268429).","example":true},"meeting_survey":{"type":"boolean","description":"Whether the host can present a survey to participants once a meeting has ended. This feature is only available in version 5.7.3 or higher.","example":true},"original_audio":{"type":"boolean","description":"Allow users to select original sound during a meeting.","example":true},"polling":{"type":"boolean","description":"Add 'Polls' to the meeting controls. This allows the host to survey the attendees.","example":true},"post_meeting_feedback":{"type":"boolean","description":"Display end-of-meeting experience feedback survey.","example":true},"private_chat":{"type":"boolean","description":"Allow meeting participants to send a private 1:1 message to another participant.","example":true},"remote_control":{"type":"boolean","description":"During screen sharing, allow the person who is sharing to let others control the shared content.","example":true},"non_verbal_feedback":{"type":"boolean","description":"Whether to enable the [**Non-verbal feedback**](https://support.zoom.us/hc/en-us/articles/115001286183-Nonverbal-feedback-and-meeting-reactions-) setting.  This value defaults to `false`.","example":true,"default":false},"remote_support":{"type":"boolean","description":"Whether to enable the [**Remote support**](https://support.zoom.us/hc/en-us/articles/360060951012-Enabling-remote-support) setting. This value defaults to `false`.","example":true,"default":false},"request_permission_to_unmute_participants":{"type":"boolean","description":"Whether to enable the [**Request permission to unmute participants**](https://support.zoom.us/hc/en-us/articles/203435537-Muting-and-unmuting-participants-in-a-meeting) setting.","example":true},"save_caption":{"type":"boolean","description":"Whether participants can save closed captions or transcripts.","example":true},"save_captions":{"type":"boolean","description":"Whether participants can [save closed caption or transcripts](https://support.zoom.us/hc/en-us/articles/360060958752). \n\n **Note:** If the `full_transcript` field is set to `false`, participants **cannot** save captions.","example":true},"screen_sharing":{"type":"boolean","description":"Allow host and participants to share their screen or content during meetings.","example":true},"sending_default_email_invites":{"type":"boolean","description":"Allow users to invite participants by email only by default.","example":true},"show_meeting_control_toolbar":{"type":"boolean","description":"Always show meeting controls during a meeting.","example":true},"slide_control":{"type":"boolean","description":"Whether the person sharing during a presentation can allow others to control the slide presentation. This feature is only available in version 5.8.3 or higher.","example":true},"stereo_audio":{"type":"boolean","description":"Allow users to select stereo audio during a meeting.","example":true},"use_html_format_email":{"type":"boolean","description":"Allow  HTML formatting instead of plain text for meeting invitations scheduled with the Outlook plugin.","example":true},"virtual_background":{"type":"boolean","description":"Enable virtual background.","example":true},"webinar_chat":{"type":"boolean","description":"Whether to allow webinar participants to send chat messages.","example":true},"webinar_live_streaming":{"type":"boolean","description":"Whether to enable webinar livestreaming.","example":true},"webinar_polling":{"type":"boolean","description":"Whether the host can add polls before or during a webinar.","example":true},"webinar_question_answer":{"type":"boolean","description":"Whether attendees can ask the host and panelists questions in the webinar.","example":true},"webinar_survey":{"type":"boolean","description":"Whether the host can present surveys to attendees once a webinar has ended.","example":true},"whiteboard":{"type":"boolean","description":"Allow participants to share a whiteboard that includes annotation tools.","example":true}}},"other_options":{"type":"object","properties":{"blur_snapshot":{"type":"boolean","description":"If true, iOS blurs the screenshot in the task switcher when multiple apps are open. Android hides the screenshot in the system-level list of recent apps.","example":true},"webinar_registration_options":{"type":"boolean","description":"Webinar registration options.","example":true}}},"recording":{"type":"object","properties":{"account_user_access_recording":{"type":"boolean","description":"Make cloud recordings accessible to account members only.","example":true},"auto_delete_cmr":{"type":"boolean","description":"Allow Zoom to automatically delete recordings permanently after a specified number of days.","example":true},"auto_recording":{"type":"boolean","description":"Record meetings automatically as they start.","example":true},"cloud_recording":{"type":"boolean","description":"Allow hosts to record and save the meeting / webinar in the cloud.","example":true},"cloud_recording_download":{"type":"boolean","description":"Allow anyone with a link to the cloud recording to download.","example":true},"host_delete_cloud_recording":{"type":"boolean","description":"Allow the host to delete the recordings. If this option is disabled, the recordings cannot be deleted by the host and only admin can delete them.","example":true},"ip_address_access_control":{"type":"boolean","description":"Setting to allow cloud recording access only from specific IP address ranges.\n","example":true},"local_recording":{"type":"boolean","description":"Allow hosts and participants to record the meeting to a local file.","example":true},"prevent_host_access_recording":{"type":"boolean","description":"If set to `true`, meeting hosts cannot view their meeting cloud recordings. Only the admins who have recording management privilege can access them.\n\n","example":true},"recording_authentication":{"type":"boolean","description":"Only authenticated users can view cloud recordings","example":true},"archive":{"type":"boolean","description":"[Archiving solution](https://support.zoom.us/hc/en-us/articles/360050431572-Archiving-Meeting-and-Webinar-data) settings. This setting can only be used if you have been granted archiving solution access by the Zoom support team.","example":true}}},"schedule_meeting":{"type":"object","properties":{"audio_type":{"type":"boolean","description":"Determine how participants can join the audio portion of the meeting.","example":true},"embed_password_in_join_link":{"type":"boolean","description":"If the value is set to `true`, the meeting passcode will be encrypted and included in the join meeting link to allow participants to join with just one click without having to enter the passcode.\n ","example":true},"enforce_login":{"type":"boolean","description":"Allow only signed-in users to join meetings.\n","example":true},"enforce_login_domains":{"type":"string","description":"Specify the domains from which users can join a meeting.\n","example":"example.com"},"enforce_login_with_domains":{"type":"boolean","description":"Allow only signed-in users with specified domains to join meetings.\n","example":true},"host_video":{"type":"boolean","description":"Start meetings with host video on.","example":true},"join_before_host":{"type":"boolean","description":"Allow participants to join the meeting before the host arrives","example":true},"meeting_authentication":{"type":"boolean","description":"Only authenticated users can join meetings","example":true},"not_store_meeting_topic":{"type":"boolean","description":"Whether to enable the [**Always display &quot;Zoom Meeting&quot; as the meeting topic**](https://support.zoom.us/hc/en-us/articles/201363253-Changing-account-settings#h_01EG9BJ646V2WJK1S3H2MP6YV6) setting.","example":true},"always_display_zoom_webinar_as_topic":{"type":"boolean","description":"Whether to enable the [**Always show &quot;Zoom Webinar&quot; as the webinar topic**](https://support.zoom.us/hc/en-us/articles/201363253-Changing-account-settings#h_01EG9BJ646V2WJK1S3H2MP6YV6) setting.","example":false},"participant_video":{"type":"boolean","description":"Start meetings with participant video on.","example":true},"require_password_for_instant_meetings":{"type":"boolean","description":"Require passcode for instant meetings. If you use a PMI for your instant meetings, this option will be disabled. This setting is always enabled for free accounts and Pro accounts with a single host and cannot be modified for these accounts.","example":true},"require_password_for_pmi_meetings":{"type":"boolean","description":"Require participants to enter passcode for PMI meetings. This setting is always enabled for free accounts and Pro accounts with a single host and cannot be modified for these accounts.","example":true},"require_password_for_scheduling_new_meetings":{"type":"boolean","description":"This setting applies for regular meetings that do not use a PMI. If enabled, a passcode will be generated while a host schedules a new meeting and participants will be required to enter the passcode before they can join the meeting. This setting is always enabled for free accounts and Pro accounts with a single host and cannot be modified for these accounts.","example":true},"use_pmi_for_instant_meetings":{"type":"boolean","description":"Use a Personal Meeting ID (PMI) when starting an instant meeting.","example":true},"use_pmi_for_scheduled_meetings":{"type":"boolean","description":"Use a Personal Meeting ID (PMI) when scheduling a meeting.","example":true},"continuous_meeting_chat":{"type":"boolean","description":"Whether to enable the [**Enable continuous meeting chat**] setting.","example":true}}},"telephony":{"type":"object","properties":{"telephony_regions":{"type":"boolean","example":true},"third_party_audio":{"type":"boolean","description":"Allow users to join the meeting using the existing 3rd party audio configuration.","example":true}}},"tsp":{"type":"object","properties":{"call_out":{"type":"boolean","example":true},"show_international_numbers_link":{"type":"boolean","example":true}}}}},{"title":"Meeting or Webinar Security Account Locked Settings","type":"object","properties":{"meeting_security":{"type":"object","properties":{"approved_or_denied_countries_or_regions":{"type":"boolean","description":"Whether to enable the [**Approve or block entry for users from specific countries/regions**](https://support.zoom.us/hc/en-us/articles/360060086231-Joining-from-specific-countries-regions) setting.","example":true},"auto_security":{"type":"boolean","description":"Whether all meetings must be secured with at least one security option. \n\n This setting can only be disabled by Enterprise, ISV, Business (with more than 100 licenses), and Education accounts.","example":true},"block_user_domain":{"type":"boolean","description":"Whether users in specific domains are blocked from joining meetings and webinars.","example":true},"chat_etiquette_tool":{"type":"boolean","description":"Whether to enable the **Chat Etiquette Tool**.","example":true},"embed_password_in_join_link":{"type":"boolean","description":"Whether the meeting passcode is encrypted and included in the invitation link. The provided link will allow participants to join the meeting without having to enter the passcode.","example":true},"encryption_type":{"type":"boolean","description":"Whether use encryption to start a meeting.","example":true},"end_to_end_encrypted_meetings":{"type":"boolean","description":"Whether to enable end-to-end encryption for meetings.","example":true},"meeting_password":{"type":"boolean","description":"Whether all instant and scheduled meetings that users can join via client or Zoom Rooms systems are passcode-protected. [Personal Meeting ID (PMI)](https://support.zoom.us/hc/en-us/articles/203276937) meetings are **not** included in this setting.","example":true},"only_authenticated_can_join_from_webclient":{"type":"boolean","description":"Whether to specify that only authenticated users can join the meeting from the web client.","example":true},"phone_password":{"type":"boolean","description":"Whether passcodes are required for participants joining by phone. \n\n If enabled and the meeting is passcode-protected, a numeric passcode is required for participants to join by phone. For meetings with alphanumeric passcodes, a numeric passcode will be generated.","example":true},"pmi_password":{"type":"boolean","description":"Whether all Personal Meeting ID (PMI) meetings that users can join via client or Zoom Rooms systems are passcode-protected.","example":true},"waiting_room":{"type":"boolean","description":"Whether participants are placed in the [**Waiting Room**](https://support.zoom.us/hc/en-us/articles/115000332726-Waiting-Room) when they join a meeting. \n\n If the **Waiting Room** feature is enabled, the [**Allow participants to join before host**](https://support.zoom.us/hc/en-us/articles/202828525-Allow-participants-to-join-before-host) setting is automatically disabled.","example":true},"webinar_password":{"type":"boolean","description":"Whether to generate a passcode when scheduling webinars. Participants must use the generated passcode to join the scheduled webinar.","example":true}}}},"description":"The account's locked meeting and webinar security settings."}]}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request \n\n **Error Code:** `2001` <br>\n Account does not exist: $subAccountId. <br>\n"}},"security":[{"openapi_oauth":["account:read:admin"],"openapi_authorization":[]}],"extensions":{"x-permissions":["AccountSetting:Read"],"x-macro-scopes":["account:read:admin"]}},"patch":{"tags":["Accounts"],"summary":"Update locked settings","description":"Update an account's locked settings.\n\n[Account Locked Settings](https://support.zoom.us/hc/en-us/articles/115005269866) allows account admins and account owners to toggle settings on or off for all users in your account.  \n\n**Note:** Yout must have a Pro or a higher plan and enabled master and sub accounts options.  \n   \n \n**Prerequisites:**  \n \n* Pro or a higher paid account.   \n \n\n\n\n**Scopes:** `account:write:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`","operationId":"UpdateLockedSettings","parameters":[{"name":"accountId","in":"path","required":false,"style":"SIMPLE","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"audio_conferencing":{"type":"object","properties":{"toll_free_and_fee_based_toll_call":{"type":"boolean","description":"Whether the account has the [**toll-free and fee-based toll call**](https://support.zoom.us/hc/en-us/articles/360060950711-Enabling-Toll-free-and-Fee-based-Toll-Call#h_01F51680NJ7YHZDXGJNSKDGM2P) setting enabled.","example":true}}},"chat":{"type":"object","properties":{"share_files":{"type":"boolean","description":"Users can share files in chats and channels.","example":true},"chat_emojis":{"type":"boolean","description":"Allow users to use the emoji library in direct messages or group conversations. Choose between allowing users to use any emoji in the library, or allowing only pre-selected emojis. If the setting is disabled, users can still use keyboard shortcuts to add emojis. Users can change their emoji skin tone in **Settings**.","example":true},"record_voice_messages":{"type":"boolean","description":"Allow users to record voice messages that can be sent in direct messages or group conversations.","example":true},"record_video_messages":{"type":"boolean","description":"Allow users to record video messages that can be sent in direct messages or group conversations. If the file share setting is disabled, they will not be able to record and send video messages.","example":true},"screen_capture":{"type":"boolean","description":"Allow users to take and send screenshots in direct messages or group conversations.","example":true},"share_links_in_chat":{"type":"boolean","description":"Share links to messages and channels in Team Chat.","example":true},"schedule_meetings_in_chat":{"type":"boolean","description":"Schedule a meeting from chat or channel.","example":true},"set_retention_period_in_cloud":{"type":"boolean","description":"By default, messages and files are stored in Zoom's cloud. Enable this setting to specify when they are deleted. When retention is disabled, messages sent by offline users can be received within 7 days before they are deleted.","example":true},"set_retention_period_in_local":{"type":"boolean","description":"Specify how long your messages are saved on local devices. If this setting is disabled, messages are never deleted locally.","example":true},"allow_users_to_add_contacts":{"type":"boolean","description":"Whether to allow users to add contacts.","example":true},"allow_users_to_chat_with_others":{"type":"boolean","description":"Whether to allow users to chat with others.","example":true},"chat_etiquette_tool":{"type":"boolean","description":"Whether to enable the **Chat Etiquette Tool**.","example":true},"send_data_to_third_party_archiving_service":{"type":"boolean","description":"Whether to send data to third-party archiving service.","example":true},"translate_messages":{"type":"boolean","description":"Allow users to translate team chat messages. [Learn more].(https://support.zoom.us/hc/en-us/articles/12998089084685)","example":true},"search_and_send_animated_gif_images":{"type":"boolean","description":"Whether to allow users to search GIF images from GIPHY when they compose messages.","example":true}}},"email_notification":{"type":"object","properties":{"alternative_host_reminder":{"type":"boolean","description":"Notify the alternative host who is set or removed.","example":true},"cancel_meeting_reminder":{"type":"boolean","description":"Notify host and participants when the meeting is cancelled.","example":true},"cloud_recording_available_reminder":{"type":"boolean","description":"Whether to notify the host when a cloud recording is available.","example":true},"jbh_reminder":{"type":"boolean","description":"Notify host when participants join the meeting before them.","example":true},"schedule_for_reminder":{"type":"boolean","description":"Notify the host there is a meeting is scheduled, rescheduled, or cancelled.","example":true}}},"in_meeting":{"type":"object","properties":{"alert_guest_join":{"type":"boolean","description":"Allow participants who belong to your account to see that a guest (someone who does not belong to your account) is participating in the meeting or webinar.","example":true},"allow_users_to_delete_messages_in_meeting_chat":{"type":"boolean","description":"If the value of this field is set to `true`,  allow users to delete messages in the in-meeting chat.\n","example":true},"allow_live_streaming":{"type":"boolean","description":"Whether to allow livestreaming.","example":true},"allow_show_zoom_windows":{"type":"boolean","description":"Show Zoom windows during screen share.","example":true},"annotation":{"type":"boolean","description":"Allow participants to use annotation tools to add information to shared screens.","example":true},"anonymous_question_answer":{"type":"boolean","example":true},"attendee_on_hold":{"type":"boolean","description":"Allow host to put attendee on hold.\n\n**This field has been deprecated and is no longer supported.**","example":true,"deprecated":true,"default":false},"attention_mode_focus_mode":{"type":"boolean","description":"Whether to enable the [**Focus Mode**](https://support.zoom.us/hc/en-us/articles/360061113751-Using-focus-mode) feature. When enabled, this feature only displays the host and co-hosts' video and profile pictures during a meeting.","example":true},"auto_answer":{"type":"boolean","description":"Enable users to see and add contacts to 'auto-answer group' in the contact list on chat. Any call from members of this group will be automatically answered.","example":true},"auto_generated_captions":{"type":"boolean","description":"Whether to enable Zoom's [live transcription feature](https://support.zoom.us/hc/en-us/articles/207279736-Managing-closed-captioning-and-live-transcription#h_01FHGGHYJ4457H4GSZY0KM3NSB).","example":true},"auto_saving_chat":{"type":"boolean","description":"Automatically save all in-meeting chats.","example":true},"breakout_room":{"type":"boolean","description":"Allow host to split meeting participants into separate, smaller rooms.","example":true},"chat":{"type":"boolean","description":"Allow meeting participants to send chat message visible to all participants.","example":true},"meeting_question_answer":{"type":"boolean","description":"Allow participants to ask questions for the host and participants to answer.","example":true},"closed_caption":{"type":"boolean","description":"Allow host to type closed captions or assign a participant/third party device to add closed captions.","example":true},"co_host":{"type":"boolean","description":"Allow the host to add co-hosts. Co-hosts have the same in-meeting controls as the host.","example":true},"custom_data_center_regions":{"type":"boolean","description":"If set to `true`, account owners and admins on paid accounts can [select data center regions](https://support.zoom.us/hc/en-us/articles/360042411451-Selecting-data-center-regions-for-hosted-meetings-and-webinars) to use for hosting their real-time meeting and webinar traffic. These regions can be provided in the `data_center_regions` field in the account settings. If set to `false`, the regions cannot be customized and the default regions will be used.","example":true},"disable_screen_sharing_for_host_meetings":{"type":"boolean","description":"Whether to enable the **Disable desktop screen sharing for meetings you host** setting.","example":true},"disable_screen_sharing_for_in_meeting_guests":{"type":"boolean","description":"Whether to enable the **Disable screen sharing when guests are in the meeting** setting.","example":true},"dscp_marking":{"type":"boolean","description":"Allow users to select stereo audio during a meeting.","example":true},"e2e_encryption":{"type":"boolean","description":"Require that all meetings are encrypted using AES.","example":true},"entry_exit_chime":{"type":"string","description":"Play sound when participants join or leave.","example":"none"},"far_end_camera_control":{"type":"boolean","description":"Allow another user to take control of the camera during a meeting.","example":true},"feedback":{"type":"boolean","description":"Enable users to provide feedback to Zoom at the end of the meeting.","example":true},"file_transfer":{"type":"boolean","description":"Indicates whether [in-meeting file transfer](https://support.zoom.us/hc/en-us/articles/209605493-In-meeting-file-transfer) setting has been enabled for all users on the account or not.","example":true},"full_transcript":{"type":"boolean","description":"Whether to enable the viewing of full transcripts in the in-meeting side panel.","example":true},"group_hd":{"type":"boolean","description":"Enable higher quality video for host and participants in Meeting. This will require more bandwidth.","example":true},"webinar_group_hd":{"type":"boolean","description":"Enable higher quality video for host and participants in Webinar. This will require more bandwidth.","example":true},"language_interpretation":{"type":"boolean","description":"Whether to allow hosts to assign participants as interpreters who can interpret one language into another in real-time.","example":true},"sign_language_interpretation":{"type":"boolean","description":"Allow hosts to assign participants as sign language interpreters who can interpret one language into sign language in real-time. Hosts can assign interpreters when scheduling, or during the meeting itself. This feature is only available with version 5.11.3 or later.","example":true},"webinar_reactions":{"type":"boolean","description":"Set this field to true to use [webinar reactions](https://support.zoom.us/hc/en-us/articles/4803536268429).","example":true},"meeting_survey":{"type":"boolean","description":"Whether to allow the host to present a survey to participants once a meeting has ended. This feature is only available in version 5.7.3 or higher.","example":true},"original_audio":{"type":"boolean","description":"Allow users to select original sound during a meeting.","example":true},"polling":{"type":"boolean","description":"Add 'Polls' to the meeting controls. This allows the host to survey the attendees.","example":true},"post_meeting_feedback":{"type":"boolean","description":"Display end-of-meeting experience feedback survey.","example":true},"private_chat":{"type":"boolean","description":"Allow meeting participants to send a private 1:1 message to another participant.","example":true},"remote_control":{"type":"boolean","description":"During screen sharing, allow the person who is sharing to let others control the shared content.","example":true},"non_verbal_feedback":{"type":"boolean","description":"Whether to enable the [**Non-verbal feedback**](https://support.zoom.us/hc/en-us/articles/115001286183-Nonverbal-feedback-and-meeting-reactions-) setting.  This value defaults to `false`.","example":true,"default":false},"remote_support":{"type":"boolean","description":"Whether to enable the [**Remote support**](https://support.zoom.us/hc/en-us/articles/360060951012-Enabling-remote-support) setting. This value defaults to `false`.","example":true,"default":false},"request_permission_to_unmute_participants":{"type":"boolean","description":"Whether to enable the [**Request permission to unmute participants**](https://support.zoom.us/hc/en-us/articles/203435537-Muting-and-unmuting-participants-in-a-meeting) setting.","example":true},"save_caption":{"type":"boolean","description":"Whether to allow participants to save closed captions or transcripts.","example":true},"save_captions":{"type":"boolean","description":"Whether to allow participants to [save closed captions or transcripts](https://support.zoom.us/hc/en-us/articles/360060958752). \n\n **Note:** If the `full_transcript` field is set to `false`, participants **cannot** save captions.","example":true},"screen_sharing":{"type":"boolean","description":"Allow host and participants to share their screen or content during meetings.","example":true},"sending_default_email_invites":{"type":"boolean","description":"Allow users to invite participants by email only by default.","example":true},"show_meeting_control_toolbar":{"type":"boolean","description":"Always show meeting controls during a meeting.","example":true},"slide_control":{"type":"boolean","description":"Whether the person sharing during a presentation can allow others to control the slide presentation. This feature is only available in version 5.8.3 or higher.","example":true},"stereo_audio":{"type":"boolean","description":"Allow users to select stereo audio during a meeting.","example":true},"use_html_format_email":{"type":"boolean","description":"Allow  HTML formatting instead of plain text for meeting invitations scheduled with the Outlook plugin.","example":true},"virtual_background":{"type":"boolean","description":"Enable virtual background.","example":true},"webinar_chat":{"type":"boolean","description":"Whether to allow webinar participants to send chat messages.","example":true},"webinar_live_streaming":{"type":"boolean","description":"Whether to enable webinar livestreaming.","example":true},"webinar_polling":{"type":"boolean","description":"Whether to allow the host to add polls before or during a webinar.","example":true},"webinar_question_answer":{"type":"boolean","description":"Whether attendees can ask the host and panelists questions in the webinar.","example":true},"webinar_survey":{"type":"boolean","description":"Whether to allow the host to present surveys to attendees once a webinar has ended.","example":true},"whiteboard":{"type":"boolean","description":"Allow participants to share a whiteboard that includes annotation tools.","example":true}}},"other_options":{"type":"object","properties":{"blur_snapshot":{"type":"boolean","description":"If true, iOS blurs the screenshot in the task switcher when multiple apps are open. Android hides the screenshot in the system-level list of recent apps.","example":true},"webinar_registration_options":{"type":"boolean","description":"Webinar registration options.","example":true}}},"recording":{"type":"object","properties":{"account_user_access_recording":{"type":"boolean","description":"Make cloud recordings accessible to account members only.","example":true},"auto_delete_cmr":{"type":"boolean","description":"Allow Zoom to automatically delete recordings permanently after a specified number of days.","example":true},"auto_recording":{"type":"boolean","description":"Record meetings automatically as they start.","example":true},"cloud_recording":{"type":"boolean","description":"Allow hosts to record and save the meeting / webinar in the cloud.","example":true},"cloud_recording_download":{"type":"boolean","description":"Allow anyone with a link to the cloud recording to download.","example":true},"host_delete_cloud_recording":{"type":"boolean","description":"Allow the host to delete the recordings. If this option is disabled, the recordings cannot be deleted by the host and only admin can delete them.","example":true},"ip_address_access_control":{"type":"boolean","description":"Setting to allow cloud recording access only from specific IP address ranges.\n","example":true},"local_recording":{"type":"boolean","description":"Allow hosts and participants to record the meeting to a local file.","example":true},"prevent_host_access_recording":{"type":"boolean","description":"If set to `true`, meeting hosts cannot view their meeting cloud recordings. Only the admins who have recording management privilege can access them.\n\n","example":true},"recording_authentication":{"type":"boolean","example":true},"archive":{"type":"boolean","description":"[Archiving solution](https://support.zoom.us/hc/en-us/articles/360050431572-Archiving-Meeting-and-Webinar-data) settings. This setting can only be used if you have been granted archiving solution access by the Zoom support team.","example":true}}},"schedule_meeting":{"type":"object","properties":{"audio_type":{"type":"boolean","description":"Determine how participants can join the audio portion of the meeting.","example":true},"embed_password_in_join_link":{"type":"boolean","description":"If the value is set to `true`, the meeting passcode will be encrypted and included in the join meeting link to allow participants to join with just one click without having to enter the passcode.\n ","example":true},"enforce_login":{"type":"boolean","description":"Participants must always sign in before joining the scheduled meeting.","example":true},"enforce_login_domains":{"type":"string","description":"Specify the domains from which users can join a meeting.\n","example":"example.com"},"enforce_login_with_domains":{"type":"boolean","description":"Allow only signed-in users with specified domains to join meetings.\n","example":true},"host_video":{"type":"boolean","description":"Start meetings with host video on.","example":true},"join_before_host":{"type":"boolean","description":"Allow participants to join the meeting before the host arrives","example":true},"meeting_authentication":{"type":"boolean","example":true},"not_store_meeting_topic":{"type":"boolean","description":"Whether to enable the [**Always display &quot;Zoom Meeting&quot; as the meeting topic**](https://support.zoom.us/hc/en-us/articles/201363253-Changing-account-settings#h_01EG9BJ646V2WJK1S3H2MP6YV6) setting.","example":true},"always_display_zoom_webinar_as_topic":{"type":"boolean","description":"Whether to enable the [**Always show &quot;Zoom Webinar&quot; as the webinar topic**](https://support.zoom.us/hc/en-us/articles/201363253-Changing-account-settings#h_01EG9BJ646V2WJK1S3H2MP6YV6) setting.","example":false},"participant_video":{"type":"boolean","description":"Start meetings with participant video on.","example":true},"personal_meeting":{"type":"boolean","description":"Turn the lock setting on or off for the **Enable Personal Meeting ID** setting for an entire account.  \n   \n \n`true`: Turn the **&quot;Enable Personal Meeting ID&quot;** setting **on** for all users in the account. Users can choose to use personal meeting ID for their meetings.   \n   \n \n`false`: Turn **off** the **&quot;Enable Personal Meeting ID&quot;** setting. **If this setting is [disabled](https://support.zoom.us/hc/en-us/articles/201362843-Personal-meeting-ID-PMI-and-personal-link?flash_digest=eb7ac62d8c7fb4daf285916e3e15d87537806133#h_aa0335c8-3b06-41bc-bc1f-a8b84ef17f2a), meetings that were scheduled with a PMI by the users in the account will be invalid. Users will have to update previously scheduled PMI meetings.**  \n   \n \nFor Zoom Phone only: If a user has been assigned a desk phone, **&quot;Elevate to Zoom Meeting&quot;** on desk phone will be disabled.\n\n\n","example":true},"require_password_for_instant_meetings":{"type":"boolean","description":"Require passcode for instant meetings. If you use a PMI for your instant meetings, this option will be disabled. This setting is always enabled for free accounts and Pro accounts with a single host and cannot be modified for these accounts.","example":true},"require_password_for_pmi_meetings":{"type":"boolean","description":"Require participants to enter passcode for PMI meetings. This setting is always enabled for free accounts and Pro accounts with a single host and cannot be modified for these accounts.","example":true},"require_password_for_scheduling_new_meetings":{"type":"boolean","description":"This setting applies for regular meetings that do not use a PMI. If enabled, a passcode will be generated while a host schedules a new meeting and participants will be required to enter the passcode before they can join the meeting. This setting is always enabled for free accounts and Pro accounts with a single host and cannot be modified for these accounts.","example":true},"use_pmi_for_instant_meetings":{"type":"boolean","description":"Use a Personal Meeting ID (PMI) when starting an instant meeting.","example":true},"use_pmi_for_scheduled_meetings":{"type":"boolean","description":"Use a Personal Meeting ID (PMI) when scheduling a meeting.","example":true},"continuous_meeting_chat":{"type":"boolean","description":"Whether to enable the [**Enable continuous meeting chat**] setting.","example":true}}},"telephony":{"type":"object","properties":{"telephony_regions":{"type":"boolean","example":true},"third_party_audio":{"type":"boolean","description":"Allow users to join the meeting using the existing 3rd party audio configuration.","example":true}}},"tsp":{"type":"object","properties":{"call_out":{"type":"boolean","example":true},"show_international_numbers_link":{"type":"boolean","example":true}}}}},{"title":"Meeting or Webinar Security Account Locked Settings","type":"object","properties":{"meeting_security":{"type":"object","properties":{"approved_or_denied_countries_or_regions":{"type":"boolean","description":"Whether to enable the [**Approve or block entry for users from specific countries/regions**](https://support.zoom.us/hc/en-us/articles/360060086231-Joining-from-specific-countries-regions) setting.","example":true},"auto_security":{"type":"boolean","description":"Whether to require that all meetings are secured with at least one security option. \n\n This setting can only be disabled by Enterprise, ISV, Business (with more than 100 licenses), and Education accounts.","example":true},"block_user_domain":{"type":"boolean","description":"Whether to block users in specific domains from joining meetings and webinars.","example":true},"chat_etiquette_tool":{"type":"boolean","description":"Whether to enable the **Chat Etiquette Tool**.","example":true},"embed_password_in_join_link":{"type":"boolean","description":"Whether the meeting passcode will be encrypted and included in the invitation link. The provided link will allow participants to join the meeting without having to enter the passcode.","example":true},"encryption_type":{"type":"string","description":"The type of encryption to use when starting a meeting: \n* `enhanced_encryption` &mdash; Use enhanced encryption. Encryption data is stored in the cloud. \n* `e2ee` &mdash; End-to-end encryption. The encryption key is stored on the local device and cannot be obtained by anyone else. Enabling E2EE also [**disables** certain features](https://support.zoom.us/hc/en-us/articles/360048660871), such as cloud recording, live streaming, and allowing participants to join before the host.","example":"e2ee","enum":["enhanced_encryption","e2ee"]},"end_to_end_encrypted_meetings":{"type":"boolean","description":"Whether to enable end-to-end encryption for meetings. If enabled, you can specify the type of encryption in the `encryption_type` field.","example":true},"meeting_password":{"type":"boolean","description":"Whether all instant and scheduled meetings that users can join via client or Zoom Rooms systems are passcode-protected. [Personal Meeting ID (PMI)](https://support.zoom.us/hc/en-us/articles/203276937) meetings are **not** included in this setting.","example":true},"only_authenticated_can_join_from_webclient":{"type":"boolean","description":"Whether to specify that only authenticated users can join the meeting from the web client.","example":true},"phone_password":{"type":"boolean","description":"Whether to require a passcode for participants joining by phone. \n\n If enabled and the meeting is passcode-protected, a numeric passcode is required for participants to join by phone. For meetings with alphanumeric passcodes, a numeric passcode will be generated.","example":true},"pmi_password":{"type":"boolean","description":"Whether all Personal Meeting ID (PMI) meetings that users can join via client or Zoom Rooms systems are passcode-protected.","example":true},"waiting_room":{"type":"boolean","description":"Whether participants are placed in the [**Waiting Room**](https://support.zoom.us/hc/en-us/articles/115000332726-Waiting-Room) when they join a meeting. \n\n If the **Waiting Room** feature is enabled, the [**Allow participants to join before host**](https://support.zoom.us/hc/en-us/articles/202828525-Allow-participants-to-join-before-host) setting is automatically disabled.","example":true},"webinar_password":{"type":"boolean","description":"Whether to generate a passcode when scheduling webinars. Participants must use the generated passcode to join the scheduled webinar.","example":true}}}},"description":"The account's updated locked meeting and webinar security settings."}]}}}},"responses":{"200":{"description":"**Error Code:** `200`  \n \nOnly available for Paid account: $accountId.\n","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found \n\n **Error Code:** `2001` <br>\n TAccount does not exist: $subAccountId. <br>\n"}},"security":[{"openapi_oauth":["account:write:admin"],"openapi_authorization":[]}],"extensions":{"x-permissions":["AccountProfile:Edit","AccountSetting:Edit"],"x-macro-scopes":["account:write:admin"]}}},"/accounts/{accountId}/managed_domains":{"get":{"tags":["Accounts"],"summary":"Get account's managed domains","description":"Retrieve a list of an account's [managed domains](https://support.zoom.us/hc/en-us/articles/203395207). To get the master account's managed domains, pass the `me` value for the `accountId` path parameter. \n\n **Prerequisites:** \n* A Pro or a higher paid account with the Master account option enabled.\n\n**Scopes:** `account:read:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"accountManagedDomain","parameters":[{"name":"accountId","in":"path","description":"The account's ID. For master accounts, pass the `me` value for this parameter.","required":true,"explode":false,"schema":{"type":"string","example":"q6gBJVO5TzexKYTb_I2rpg"}}],"responses":{"200":{"description":"**HTTP Status Code:** `200`   \n \n Account's managed domains returned. \n\n **Error Code:** `200`   \n \n Only available for Paid or ZMP account: {accountId}.","content":{"application/json":{"schema":{"type":"object","properties":{"domains":{"type":"array","description":"Information about the managed domains.","items":{"type":"object","properties":{"domain":{"type":"string","description":"The domain's name.","example":"example.com"},"status":{"type":"string","description":"The domain's status.","example":"verified"}}}},"total_records":{"type":"integer","description":"The total number of records returned.","example":1}}}}}},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found \n\n **Error Code:** `2001` <br>\n Account does not exist: $accountId <br>\n"}},"security":[{"openapi_oauth":["account:read:admin"],"openapi_authorization":[]}],"extensions":{"x-permissions":["AccountSetting:Read"],"x-macro-scopes":["account:read:admin"]}}},"/accounts/{accountId}/owner":{"put":{"tags":["Accounts"],"summary":"Update the account owner","description":"Change an account's owner.\n\nAn account's current owner can [change the account's owner](https://support.zoom.us/hc/en-us/articles/115005686983-Change-Account-Owner) to another user on the same account.\n\n**Prerequisites:** \n* An account owner or admin permissions of an account \n* The account making this API request must be on a Pro or a higher account plan with [Master account](https://developers.zoom.us/docs/api/rest/master-account-apis/) privileges\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `HEAVY`","operationId":"UpdateTheAccountOwner","parameters":[{"name":"accountId","in":"path","required":false,"style":"SIMPLE","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"required":["email"],"type":"object","properties":{"email":{"type":"string","description":"The email address of the account's new owner.","format":"email","example":"admin@example.com"}}}}}},"responses":{"204":{"description":"**HTTP Status Code:** `204`  \n \nAccount owner updated."},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request \n\n **Error Code:** `200` <br>\n User is not an admin or is an API user or doesn't belong to this account: {accountId}.<br>\nCannot make a user outside of your account an owner.<br>\nCannot update the role of an account owner. <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found \n\n **Error Code:** `2001` <br>\n Account does not exist: $subAccountId.<br> <br>\n**Error Code:** `3201` <br>\n Cannot find a billing account for this: $accountId.<br> <br>\n**Error Code:** `3211` <br>\n Cannot find a billing contact for this: $accountId. <br>\n"}},"security":[{"openapi_oauth":[],"openapi_authorization":[]}],"extensions":{"x-permissions":[]}}},"/accounts/{accountId}/settings":{"get":{"tags":["Accounts"],"summary":"Get account settings","description":"Get an account's settings. \n\nTo get settings for a master account, use the `me` value for the `accountId` path parameter. \n\n **Prerequisites:** \n* The account must be a paid account.\n\n**Scopes:** `account:read:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`","operationId":"accountSettings","parameters":[{"name":"accountId","in":"path","required":false,"style":"SIMPLE","explode":false,"schema":{"type":"string"}},{"name":"option","in":"query","description":"Optional query parameters. \n* `meeting_authentication` - View the [meeting authentication settings](https://support.zoom.us/hc/en-us/articles/360037117472-Authentication-Profiles-for-Meetings-and-Webinars) applied to the user's account. \n* `recording_authentication` - View the [recording authentication settings](https://support.zoom.us/hc/en-us/articles/360037756671-Authentication-Profiles-for-Cloud-Recordings) applied to the user's account. \n* `security` - View the account's security settings. For example, passcode requirements for user login or two-factor authentication. \n* `meeting_security` - View the meeting security settings applied to the user's account.","required":false,"style":"FORM","explode":true,"schema":{"type":"string","example":"meeting_security","enum":["meeting_authentication","recording_authentication","security","meeting_security"]}},{"name":"custom_query_fields","in":"query","description":"The name of the field to use to filter the response. For example, if you provide the `host_video` value for this field, you will get a response similar to. \n\n `{ schedule_meeting: { host_video: false } }` \n\n To use multiple values, comma-separate each value, like `host_video,participant_video`.","required":false,"style":"FORM","explode":true,"schema":{"type":"string","example":"in_meeting"}}],"responses":{"200":{"description":"**HTTP Status Code:** `200`   \n \n Account settings returned. \n\n **Error Code:** `200`   \n \n Only available for paid accounts.","content":{"application/json":{"schema":{"oneOf":[{"title":"Account settings","type":"object","properties":{"security":{"type":"object","properties":{"admin_change_name_pic":{"type":"boolean","description":"Whether to only allow account administrators to change a user's picture.","example":true,"deprecated":true},"admin_change_user_info":{"type":"boolean","description":"Whether to only allow account administrators to change a user's information.","example":true},"user_modifiable_info_by_admin":{"type":"array","description":"If the `admin_change_user_info` value is `true`, the list of the types of user information that only the account administrators can modify. \n* `name` \n* `profile_picture` \n* `sign_in_email` \n* `host_key`","items":{"type":"string","example":"[\"name\",\"host_key\",\"sign_in_email\"]","enum":["name","profile_picture","sign_in_email","host_key"]}},"signin_with_sso":{"type":"object","properties":{"enable":{"type":"boolean","description":"Whether to allow users to sign in with single sign-on (SSO). If enabling this, configure your account's SSO settings. This lets users sign in with SSO through your company's vanity URL.","example":true},"require_sso_for_domains":{"type":"boolean","description":"Whether to require users to sign in with single sign-on (SSO) if their e-mail address belongs to one of the `domains`.","example":true},"domains":{"type":"array","description":"Users on these domains must sign in with single sign-on (SSO). ","example":["test.com","example.us"],"items":{"type":"string","example":"test.com"}},"sso_bypass_users":{"type":"array","description":"The users can bypass SSO sign-in.","items":{"type":"object","properties":{"id":{"type":"string","description":"The user id.","example":"21212_aefwef32233"},"email":{"type":"string","description":"The user email.","example":"123@test.com"}}}}},"description":"Allow users to sign in with single sign-on (SSO). "},"hide_billing_info":{"type":"boolean","description":"Hide billing information.","example":true},"import_photos_from_devices":{"type":"boolean","description":"Allow users to import photos from a photo library on a  device.","example":true},"password_requirement":{"type":"object","properties":{"consecutive_characters_length":{"type":"integer","description":"\nSpecify the max length of consecutive characters(abcde...) that can be used in a passcode.\nIf you set the value of this field to `0`, no restriction will be applied on consecutive characters. \n\nIf you would like to set this restriction, you can specify a number between 4 and 8 that define the maximum allowed length for consecutive characters in a passcode.\n\nThe max allowed length will be `n-1` where `n` refers to the value you provide for this field.  For instance, if you provide `4` as the value, there can only be a maximum of `3` consecutive characters in a passcode(example: abc1x@8fdh).","example":8},"have_special_character":{"type":"boolean","description":"If the value of this field is set to `true`, the passcode must have at least one special character(!, @, #...).","example":true},"minimum_password_length":{"maximum":14,"minimum":8,"type":"integer","description":"Specify a minimum length for the passcode. The passcode length can be from a minimum of 9 characters, up to 14 characters. If you provide `0` as the value of this field, this field will be disabled and not be used and the basic passcode length requirement (minimum of 8 characters) will be applied for the requirement.","example":8},"weak_enhance_detection":{"type":"boolean","description":"If the value of this field is set to `true`, user passcodes will have to pass detection through a weak passcode dictionary in case hackers use simple passcodes to sign in to your users' accounts.","example":false}},"description":"This object refers to the [enhanced passcode rules](https://support.zoom.us/hc/en-us/articles/360034675592-Advanced-security-settings#h_bf8a25f6-9a66-447a-befd-f02ed3404f89) that allows Zoom account admins and owners to apply extra requirements to the users' Zoom login passcode."},"sign_again_period_for_inactivity_on_client":{"type":"integer","description":"Settings for User Sign In interval requirements after a period of inactivity. If enabled, this setting forces automatic logout of users in Zoom Client app after a set amount of time.   \n \n\nIf this setting is disabled, the value of this field will be `0`. If the setting is enabled, the value of this field will indicate the **period of inactivity** in minutes, after which an inactive user will be automatically logged out of the Zoom client. \n \n\n`5` - 5 minutes.  \n \n`10` - 10 minutes.  \n \n`15` - 15 minutes.  \n \n`30` - 30 minutes.  \n \n`45` - 45 minutes.  \n \n`60` - 60 .  \n \n`90` - 90 minutes.  \n \n`120` - 120 minutes.\n","example":5},"sign_again_period_for_inactivity_on_web":{"type":"integer","description":"Settings for User Sign In interval requirements after a period of inactivity. If enabled, this setting forces automatic logout of users in Zoom Web Portal after a set amount of time.   \n \n\nIf this setting is disabled, the value of this field will be `0`. If the setting is enabled, the value of this field will indicate the **period of inactivity** in minutes, after which an inactive user will be automatically logged out of the Zoom Web Portal. \n \n\n`5` - 5 minutes.  \n \n`10` - 10 minutes.  \n \n`15` - 15 minutes.  \n \n`30` - 30 minutes.  \n \n`60` - 60 minutes.  \n \n`120` - 120 minutes.\n\n\n\n","example":10},"sign_in_with_two_factor_auth":{"type":"string","description":"Settings for 2FA( [two factor authentication](https://support.zoom.us/hc/en-us/articles/360038247071) ).\n`all` - Two factor authentication will be enabled for all users in the account.  \n \n`none` - Two factor authentication is disabled.  \n \n`group` - Two factor authentication will be enabled for users belonging to specific groups. If 2FA is enabled for certain groups, the group IDs of the group(s) will be provided in the `sign_in_with_two_factor_auth_groups` field.  \n \n`role` - Two factor authentication will be enabled only for users assigned with specific roles in the account. If 2FA is enabled for specific roles, the role IDs will be provided in the\n`sign_in_with_two_factor_auth_roles` field.\n","example":"none","enum":["all","group","role","none"]},"sign_in_with_two_factor_auth_groups":{"type":"array","description":"This field contains group IDs of groups that have 2FA enabled. This field is only returned if the value of `sign_in_with_two_factor_auth` is `group`","items":{"type":"string","example":"group"}},"sign_in_with_two_factor_auth_roles":{"type":"array","description":"This field contains role IDs of roles that have 2FA enabled. This field is only returned if the value of `sign_in_with_two_factor_auth` is `role`.","items":{"type":"string","example":"role"}}},"description":"[Security settings](https://support.zoom.us/hc/en-us/articles/360034675592-Advanced-security-settings#h_bf8a25f6-9a66-447a-befd-f02ed3404f89) of an Account."},"audio_conferencing":{"type":"object","properties":{"toll_free_and_fee_based_toll_call":{"type":"object","properties":{"allow_webinar_attendees_dial":{"type":"boolean","description":"Whether webinar attendees can dial in through the account's **Toll-free and Fee-based Toll Call** phone numbers. This feature is only available with version 5.2.2 or later.","example":true},"enable":{"type":"boolean","description":"Whether the account has the [**Toll-free and Fee-based Toll Call**](https://support.zoom.us/hc/en-us/articles/360060950711-Enabling-Toll-free-and-Fee-based-Toll-Call#h_01F51680NJ7YHZDXGJNSKDGM2P) setting enabled.","example":true},"numbers":{"type":"array","description":"The account's **Toll-free and Fee-based Toll Call** phone number information.","items":{"type":"object","properties":{"code":{"type":"string","description":"The phone number's [E.164 country calling code](https://en.wikipedia.org/wiki/List_of_country_calling_codes).","example":"86"},"country_code":{"type":"string","description":"The phone number's two letter [country code](https://developers.zoom.us/docs/api/rest/other-references/abbreviation-lists/#countries).","example":"CN"},"country_name":{"type":"string","description":"The country name.","example":"China"},"display_number":{"maxLength":30,"type":"string","description":"The phone number's display number.","example":"+86 777 777 77"},"number":{"maxLength":30,"type":"string","description":"The phone number.","example":"777 777 77"}}}}},"description":"The account's [**Toll-free and Fee-based Toll Call**](https://support.zoom.us/hc/en-us/articles/360060950711-Enabling-Toll-free-and-Fee-based-Toll-Call#h_01F51680NJ7YHZDXGJNSKDGM2P) settings."}},"description":"Account Audio Conference Settings"},"chat":{"type":"object","properties":{"allow_bots_chat":{"type":"boolean","description":"Whether chatbots added to chats and channels can read and write messages.","example":true},"share_files":{"type":"object","properties":{"enable":{"type":"boolean","description":"Allow users of this account to send and receive files in chats and channels. When disabled, users can still take and share screenshots.","example":true},"share_option":{"type":"string","description":"Allow users of this account to send and receive files in chats and channels. When disabled, users can still take and share screenshots.","example":"true","extensions":{"x-enum-descriptions":["Anyone (internal and external contacts)","In the same account","In the same organization"]},"enum":["anyone","account","organization"]},"restrictions":{"type":"object","properties":{"only_allow_specific_file_types":{"type":"boolean","description":"Only allow specified file types.","example":true},"file_type_restrictions":{"type":"array","items":{"type":"string","description":"Specified file type.","example":".gz","enum":[".gz",".rar",".zip",".xls",".xlsx",".json",".png",".pptx",".ppt",".7z",".xmind",".pdf",".pps",".txt",".docx",".doc"]}},"file_type_restrictions_for_external":{"type":"array","items":{"type":"string","description":"Specified file type.","example":".gz","enum":[".gz",".rar",".zip",".xls",".xlsx",".json",".png",".pptx",".ppt",".7z",".xmind",".pdf",".pps",".txt",".docx",".doc"]}},"maximum_file_size":{"type":"boolean","description":"Whether to restrict the file size.","example":true},"file_size_restrictions":{"type":"integer","description":"Maximum file size.","example":100,"enum":[50,100,200,300,400,500]},"file_size_restrictions_for_external":{"type":"integer","description":"Maximum file size for external users.","example":100,"enum":[50,100,200,300,400,500]}},"description":"User restrictions for sharing files in chats and channels."}},"description":"Users can share files in chats and channels."},"chat_emojis":{"type":"object","properties":{"enable":{"type":"boolean","description":"Allow users to use the emoji library in direct messages or group conversations. Choose between allowing users to use any emoji in the library, or choose to allow only pre-selected emojis. If the setting is disabled, users can still use keyboard shortcuts to add emojis. Users can change their emoji skin tone in Settings.","example":true},"emojis_option":{"type":"string","example":"all","extensions":{"x-enum-descriptions":["All emojis","Selected emojis"]},"enum":["all","selected"]}},"description":"Chat emojis."},"record_voice_messages":{"type":"boolean","description":"Allow users to record voice messages that can be sent in direct messages or group conversations.","example":true},"record_video_messages":{"type":"boolean","description":"Allow users to record video messages that can be sent in direct messages or group conversations. If the file share setting is disabled, they will not be able to record and send video messages.","example":true},"screen_capture":{"type":"boolean","description":"Allow users to take and send screenshots in direct messages or group conversations.","example":true},"create_public_channels":{"type":"boolean","description":"Allow users to create public channels.","example":true},"create_private_channels":{"type":"boolean","description":"Allow users to create private channels.","example":true},"share_links_in_chat":{"type":"boolean","description":"Share links to messages and channels in Team Chat.","example":true},"schedule_meetings_in_chat":{"type":"boolean","description":"Schedule a meeting from chat or channel.","example":true},"set_retention_period_in_cloud":{"type":"object","properties":{"enable":{"type":"boolean","description":"By default, messages and files are stored in Zoom's cloud. Enable this setting to specify when they are deleted. When retention is disabled, messages sent by offline users can be received within 7 days before they are deleted.","example":true},"retention_period_of_direct_messages_and_group_conversation":{"type":"string","description":"Delete direct messages and group conversations after retention period. 'y' - year, 'm' - month, 'd' - day","example":"2m"},"retention_period_of_channels":{"type":"string","description":"Delete data in channels after retention period. 'y' - year, 'm' - month, 'd' - day","example":"2m"}},"description":"Set retention period for messages and files in Zoom's cloud."},"set_retention_period_in_local":{"type":"object","properties":{"enable":{"type":"boolean","description":"Specify how long your messages are saved on local devices. If this setting is disabled, messages are never deleted locally.","example":true},"retention_period_of_direct_messages_and_group_conversation":{"type":"string","description":"Delete direct messages and group conversations after retention period. 'y' - year, 'm' - month, 'd' - day","example":"2m"},"retention_period_of_channels":{"type":"string","description":"Delete data in channels after retention period. 'y' - year, 'm' - month, 'd' - day","example":"2m"}},"description":"Store messages on local devices, excluding personal channel messages."},"allow_users_to_add_contacts":{"type":"object","properties":{"enable":{"type":"boolean","description":"By disabling this setting, users will not be able to add contacts.","example":true},"selected_option":{"type":"integer","description":"The type of allowing users to add contacts. \n* 1 - Anyone (internal and external contacts). \n* 2 - In the same organization. \n* 3 - In the same organization and specified domains. \n* 4 - In the same organization and specified users.","example":4,"enum":[1,2,3,4]},"user_email_addresses":{"type":"string","description":"The domains or emails (internal or external). \n* When the `selected_option` field value is `3`, the value is internal or external domains. Use a comma to separate multiple domains. Example: company.com. \n* When the `selected_option` field value is `4`, the value is internal or external email addresses. Use a comma to separate multiple emails.","example":"123@test.com"}},"description":"Allow users to add contacts."},"allow_users_to_chat_with_others":{"type":"object","properties":{"enable":{"type":"boolean","description":"If you select 'In the same organization', users may still be able to chat with external users if they are added to channels or group chats with external users.","example":true},"selected_option":{"type":"integer","description":"The type of allowing users to add contacts. \n* 1 - Anyone (internal and external contacts). \n* 2 - In the same organization. \n* 3 - In the same organization and specified domains. \n* 4 - In the same organization and specified users.","example":4,"enum":[1,2,3,4]},"user_email_addresses":{"type":"string","description":"The domains or emails, internal or external. \n* When the `selected_option` field value is `3`, the value is internal or external domains. Separate multiple domains with a comma. Example: company.com. \n* When the `selected_option` field value is `4`, the value is internal or external email addresses. Use a comma to separate multiple emails.","example":"123@test.com"}},"description":"Allow users to chat with others."},"chat_etiquette_tool":{"type":"object","properties":{"enable":{"type":"boolean","description":"Whether to enable the **Chat Etiquette Tool**.","example":true},"policies":{"type":"array","description":"Information about the defined **Chat Etiquette Tool** policies.","items":{"type":"object","properties":{"description":{"type":"string","description":"The policy's description.","example":"The policy's description"},"id":{"type":"string","description":"The policy ID.","example":"afwef342tr2qfwrg"},"is_locked":{"type":"boolean","description":"Whether the policy is locked by an account-level user. When it is locked, users cannot update the policy.","example":true},"keywords":{"type":"array","description":"A list of defined rule keywords.","items":{"type":"string","example":"test"}},"name":{"type":"string","description":"The policy name.","example":"The policy name"},"regular_expression":{"type":"string","description":"The regular expression to match to the content of chat messages.","example":"^test"},"status":{"type":"string","description":"The policy's current status. \n* `activated` - Activated. \n* `deactivated` - Deactivated.","example":"activated","extensions":{"x-enum-descriptions":["Activated.","Deactivated."]},"enum":["activated","deactivated"]},"trigger_action":{"type":"integer","description":"The policy's trigger action. \n* `1` - Ask the user to confirm before they send the message. \n* `2` - Block the user's message.","example":1,"extensions":{"x-enum-descriptions":["Ask the user to confirm before they send the message.","Block the user's message."]},"enum":[1,2]}}}},"policy_max_count":{"type":"integer","description":"The read-only maximum number of **Chat Etiquette Tool** policies.","example":50}},"description":"Information about the **Chat Etiquette Tool**."},"send_data_to_third_party_archiving_service":{"type":"object","properties":{"enable":{"type":"boolean","description":"Allow users to send data to third-party archiving service.","example":true},"type":{"type":"string","description":"The type of global relay. \n* `global_relay` - The participant cannot use chat.\n* `smarsh` - Host and co-hosts only.","example":"global_relay","extensions":{"x-enum-descriptions":["Global Relay","Smarsh"]},"enum":["global_relay","smarsh"]},"smtp_delivery_address":{"type":"string","description":"SMTP delivery address. It is used when the field `type` value is `global_relay`.","example":"test@zoom.us"},"user_name":{"type":"string","description":"User name. It is used when the field `type` value is `global_relay`.","example":"test"},"passcode":{"type":"string","description":"passcode. It is used when the field `type` value is `global_relay`.","example":"111111111"},"authorized_channel_token":{"type":"string","description":"Authorized channel token. It is used when the field `type` value is `smarsh`.","example":"as1131zxwrwcssd32r4fkmaksjiajco999999999999a9qef23jr43twn4%^&IBNByeq"}},"description":"Send data to third-party archiving service."},"apply_local_storage_to_personal_channel":{"type":"object","properties":{"enable":{"type":"boolean","description":"Specify how long your messages sent in your personal channel are saved on local devices. If this setting is disabled, messages are never deleted locally.","example":true},"retention_period":{"type":"string","description":"Delete data after retention period. 'y' - year, 'm' - month, 'd' - day. ","example":"2m"}},"description":"Store personal channel messages on local devices."},"translate_messages":{"type":"boolean","description":"Allow users to translate team chat messages. [Learn more].(https://support.zoom.us/hc/en-us/articles/12998089084685)","example":true},"search_and_send_animated_gif_images":{"type":"object","properties":{"enable":{"type":"boolean","description":"Whether to allow users to search GIF images from GIPHY when they compose messages.","example":true},"giphy_content_rating":{"type":"integer","description":"Set the GIPHY content rating. This feature is only available for Zoom Client v5.11.0 or later.","example":1,"extensions":{"x-enum-descriptions":["G - Level 1","PG - Level 2","PG-13 - Level 13","R - Level 4"]},"enum":[1,2,3,4]}},"description":"Allow users to search GIF images from GIPHY when they compose messages. See GIPHY's website for more information about content ratings."}},"description":"The account's chat settings."},"email_notification":{"type":"object","properties":{"alternative_host_reminder":{"type":"boolean","description":"Notify when an alternative host is set or removed from a meeting.","example":true},"cancel_meeting_reminder":{"type":"boolean","description":"Notify the host and participants when a meeting is cancelled.","example":true},"cloud_recording_available_reminder":{"type":"boolean","description":"Whether to notify the host when a cloud recording is available.","example":true},"jbh_reminder":{"type":"boolean","description":"Notify the host when participants join the meeting before them.","example":true},"low_host_count_reminder":{"type":"boolean","description":"Notify user when host licenses are running low.","example":true},"recording_available_reminder_alternative_hosts":{"type":"boolean","description":"Whether to notify any alternative hosts when a cloud recording is available.","example":true},"recording_available_reminder_schedulers":{"type":"boolean","description":"Whether to notify the person who scheduled the meeting or webinar for the host when a cloud recording is available.","example":true},"schedule_for_reminder":{"type":"boolean","description":"Notify the host there is a meeting is scheduled, rescheduled, or cancelled.","example":true}},"description":"Account Settings: Notification."},"feature":{"type":"object","properties":{"meeting_capacity":{"type":"integer","description":"Set the maximum number of participants a host can have in a single meeting.","example":100}},"description":"Account Settings: Feature."},"in_meeting":{"type":"object","properties":{"auto_generated_translation":{"type":"object","properties":{"language_item_pairList":{"type":"object","properties":{"trans_lang_config":{"type":"array","description":"The speaking language and caption language list.","items":{"type":"object","properties":{"speak_language":{"type":"object","properties":{"name":{"type":"string","description":"The input speaking language.","example":"Chinese (Simplified)","enum":["Chinese (Simplified)","Dutch","English","French","German","Italian","Japanese","Korean","Portuguese","Russian","Spanish","Ukrainian"]},"code":{"type":"string","description":"The input speaking language [code](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists/#languages). ","example":"zh","enum":["zh","nl","en","fr","de","it","ja","ko","pt","ru","es","uk"]}},"description":"The input speaking language in meetings."},"translate_to":{"type":"object","properties":{"all":{"type":"boolean","description":"The option to select all translated output caption languages.","example":true},"language_config":{"type":"array","description":"The translated output caption language list.","items":{"type":"object","properties":{"name":{"type":"string","description":"The  translated output caption language name.","example":"English","enum":["English"]},"code":{"type":"string","description":"The translated output caption language [code](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists/#languages).","example":"en","enum":["en"]}},"description":"The translated output caption language."}}},"description":"The translated output caption language."}},"description":"The speaking language and translated caption in meetings."}},"all":{"type":"boolean","description":"The option to select all language pairs.","example":true}},"description":"The input speaking language and output caption language pair list."},"enable":{"type":"boolean","description":"The option for participants to enable the automated translation captions in meetings.","example":true}},"description":"The [translated captions](https://support.zoom.us/hc/en-us/articles/6643133682957-Enabling-and-configuring-translated-captions) setting in meetings."},"alert_guest_join":{"type":"boolean","description":"Identify guest participants in a meeting or webinar.","example":true},"allow_host_to_enable_focus_mode":{"type":"boolean","description":"Whether the host can enable [**Focus Mode**](https://support.zoom.us/hc/en-us/articles/360061113751-Using-focus-mode) when scheduling a meeting.","example":true},"allow_live_streaming":{"type":"boolean","description":"Whether to allow livestreaming.","example":true},"allow_participants_chat_with":{"type":"integer","description":"Whether to allow participants to only chat with certain groups.\n* `1` - The participant cannot use chat.\n* `2` - Host and co-hosts only.\n * `3` - The participant can chat with other participants publicly.\n* `4` - The participant can chat with other participants publicly and privately.\n\n**Note:** This setting is only available with client versions 5.7.3 and above.","example":4,"extensions":{"x-enum-descriptions":["No one","Host and co-hosts","Everyone","Everyone and anyone directly"]},"enum":[1,2,3,4]},"allow_participants_to_rename":{"type":"boolean","description":"If the value of this field is set to `true`, meeting participants and webinar panelists can be allowed to rename themselves during a meeting or a webinar.\n","example":true},"allow_show_zoom_windows":{"type":"boolean","description":"Show the Zoom desktop application when sharing screens. ","example":true},"allow_users_save_chats":{"type":"integer","description":"Whether to allow participants to save meeting chats.\n* `1` - Participants cannot save meeting chats.\n* `2` - Participants can only save host and co-host meeting chats.\n* `3` - Participants can save all meeting chats.","example":2,"extensions":{"x-enum-descriptions":["Not allow","Host and co-hosts","Everyone"]},"enum":[1,2,3]},"annotation":{"type":"boolean","description":"Allow participants to use annotation tools to add information to shared screens.","example":true},"anonymous_question_answer":{"type":"boolean","description":"Allow an anonymous Q&amp;A in a webinar.","example":true},"attendee_on_hold":{"type":"boolean","description":"Allow host to put attendee on hold.\n\n**This field has been deprecated and is no longer supported.**","example":true,"deprecated":true,"default":false},"attention_mode_focus_mode":{"type":"boolean","description":"Whether to enable [**Focus Mode**](https://support.zoom.us/hc/en-us/articles/360061113751-Using-focus-mode). When enabled, this feature only displays the host and co-hosts' video and profile pictures during a meeting. \n\n This value defaults to `false`.","example":true,"default":false},"auto_answer":{"type":"boolean","description":"Enable users to see and add contacts to the `auto-answer group` in the chat contact list. Any call from members of this group will automatically be answered.","example":true},"auto_saving_chat":{"type":"boolean","description":"Automatically save all in-meeting chats so that the host does not need to manually save the chat transcript after the meeting starts.","example":true},"breakout_room":{"type":"boolean","description":"Allow host to split meeting participants into separate, smaller rooms.","example":true},"breakout_room_schedule":{"type":"boolean","description":"Whether the host can assign participants to breakout rooms when scheduling. This feature is **only** available in version 4.5.0 or higher.","example":true},"chat":{"type":"boolean","description":"Allow meeting participants to send a message that is visible to all participants.","example":true},"meeting_question_answer":{"type":"boolean","description":"Allow participants to ask questions for the host and participants to answer.","example":true},"closed_caption":{"type":"boolean","description":"Allow a host to type closed captions. Enable a host to assign a participant or third party device to add closed captions. ","example":true},"closed_captioning":{"type":"object","properties":{"auto_transcribing":{"type":"boolean","description":"Whether to allow a live transcription service to transcribe meetings.","example":true},"enable":{"type":"boolean","description":"Whether to allow the host to type closed captions or assign a participant or 3rd-party service to provide closed captioning.","example":true},"save_caption":{"type":"boolean","description":"Whether to allow participants to save closed captions or transcripts.","example":true},"third_party_captioning_service":{"type":"boolean","description":"Whether to allow the use of an API token to integrate with 3rd-party closed captioning services.","example":true},"view_full_transcript":{"type":"boolean","description":"Whether to allow the viewing of full transcripts in the in-meeting side panel.","example":true}},"description":"Information about the account's closed captioning settings."},"co_host":{"type":"boolean","description":"Allow the host to add co-hosts.","example":true},"custom_data_center_regions":{"type":"boolean","description":"If set to `true`, account owners and admins on paid accounts can [select data center regions](https://support.zoom.us/hc/en-us/articles/360042411451-Selecting-data-center-regions-for-hosted-meetings-and-webinars) to use for hosting their real-time meeting and webinar traffic. These regions can be provided in the `data_center_regions` field. If set to `false`, the regions cannot be customized and the default regions will be used.","example":true},"custom_live_streaming_service":{"type":"boolean","description":"Whether to allow custom livestreaming.","example":true},"custom_service_instructions":{"type":"string","description":"The specific instructions to configure a custom livestream.","example":"1234"},"meeting_data_transit_and_residency_method":{"type":"string","description":"Select meeting data transit and residency method for meeting hosts and participants.  \n `cloud` - Zoom Cloud.  \n `On-Prem` - On-Prem (Zoom Meeting Connector, only applicable for licensed users).","example":"On-Prem","extensions":{"x-enum-descriptions":["Zoom Cloud","On-Prem (Zoom Meeting Connector, only applicable for licensed users)"]},"enum":["cloud","On-Prem"]},"data_center_regions":{"type":"array","description":"If the value of `custom_data_center_regions` is `true`, a comma-separated list of the following [data center regions](https://support.zoom.us/hc/en-us/articles/360059254691-Datacenter-abbreviation-list) to opt in to. \n* `AU` - Australia.\n* `LA` - Latin America. \n* `CA` - Canada. \n* `CN` - China. \n* `DE` - Germany. \n* `HK` - Hong Kong SAR. \n* `IN` - India. \n* `IE` - Ireland. \n* `TY` - Japan. \n* `MX` - Mexico. \n* `NL` - Netherlands. \n* `SG` - Singapore. \n* `US` - United States.","example":["AU","LA","CA","CN","DE","HK","IN","IE","TY","MX","NL","SG","US"],"items":{"type":"string","example":"AU","enum":["AU","LA","CA","CN","DE","HK","IN","IE","TY","MX","NL","SG","US"]}},"disable_screen_sharing_for_host_meetings":{"type":"boolean","description":"Whether to enable the **Disable desktop screen sharing for meetings you host** setting.","example":true},"disable_screen_sharing_for_in_meeting_guests":{"type":"boolean","description":"Whether to enable the **Disable screen sharing when guests are in the meeting** setting.","example":true},"dscp_audio":{"maximum":63,"minimum":1,"type":"integer","description":"DSCP audio.","example":1},"dscp_marking":{"type":"boolean","description":"DSCP marking.","example":true},"dscp_video":{"maximum":63,"minimum":1,"type":"integer","description":"DSCP video.","example":63},"dscp_dual":{"type":"boolean","description":"Whether to use the differentiated services code point classifiers ('dscp_video', 'dscp_audio') in the dual way (incoming and outgoing).","example":false},"e2e_encryption":{"type":"boolean","description":"Zoom requires encryption for all data between the Zoom cloud, Zoom client, and Zoom Room. Require encryption for 3rd party endpoints (H323/SIP).","example":true},"entry_exit_chime":{"type":"string","description":"Play sound when participants join or leave.  \n `host` - Heard by host only.  \n `all` - Heard by host and all attendees.  \n `none` - Disable.","example":"none","extensions":{"x-enum-descriptions":["Heard by host only","Heard by host and all attendees","Disable"]},"enum":["host","all","none"]},"far_end_camera_control":{"type":"boolean","description":"Allow another user to take control of your camera during a meeting.","example":true},"feedback":{"type":"boolean","description":"Add a **Feedback** tab to the Windows Settings or Mac Preferences dialog. Enable users to provide feedback to Zoom at the end of the meeting.","example":true},"file_transfer":{"type":"boolean","description":"Indicates whether [in-meeting file transfer](https://support.zoom.us/hc/en-us/articles/209605493-In-meeting-file-transfer) setting has been enabled on the account or not.","example":true},"group_hd":{"type":"boolean","description":"Activate higher quality video for host and participants in Meeting.\nPlease note: This will use more bandwidth.","example":true},"webinar_group_hd":{"type":"boolean","description":"Activate higher quality video for host and participants in Webinar.\nPlease note: This will use more bandwidth.","example":true},"join_from_desktop":{"type":"boolean","description":"Whether to allow participants to join a meeting directly from their desktop browser. Note that the meeting experience from the desktop browser is limited.","example":true},"join_from_mobile":{"type":"boolean","description":"Whether to allow participants to join a meeting directly from their mobile browser. Note that the meeting experience from the mobile browser is limited.","example":true},"language_interpretation":{"type":"object","properties":{"custom_languages":{"type":"array","description":"A list of user-defined supported languages.","example":["English"],"items":{"type":"string","example":"English"}},"enable":{"type":"boolean","description":"Whether to allow hosts to assign participants as interpreters who can interpret one language into another in real-time.","example":true},"enable_language_interpretation_by_default":{"type":"boolean","description":"Whether to enable language interpretation by default.","example":true},"allow_participants_to_speak_in_listening_channel":{"type":"boolean","description":"Whether to allow participants to speak in the listening channel.","example":true},"allow_up_to_25_custom_languages_when_scheduling_meetings":{"type":"boolean","description":"Whether to allow up to 25 custom languages when scheduling meetings.","example":true},"languages":{"type":"array","description":"A list of system-supported languages.","example":["English","Chinese","Japanese","German","French","Russian","Portuguese","Spanish","Korean"],"items":{"type":"string","example":"English","enum":["English","Chinese","Japanese","German","French","Russian","Portuguese","Spanish","Korean"]}}},"description":"Information about the [language interpretation](https://support.zoom.us/hc/en-us/articles/360034919791-Using-Language-Interpretation-in-your-meeting-or-webinar) settings."},"sign_language_interpretation":{"type":"object","properties":{"enable":{"type":"boolean","description":"Whether to allow hosts to assign participants as sign language interpreters who can interpret one language into another in real-time.","example":true},"enable_sign_language_interpretation_by_default":{"type":"boolean","description":"Whether to enable sign language interpretation view by default in scheduler.","example":true},"languages":{"type":"array","description":"A list of system-supported languages.","items":{"type":"string","example":"American","enum":["American","Chinese","French","German","Japanese","Russian","Brazilian","Spanish","Mexican","British"]}},"custom_languages":{"type":"array","description":"A list of user-defined supported languages.","items":{"type":"string","example":"Language1"}}},"description":"Allow hosts to assign participants as sign language interpreters who can interpret one language into sign language in real-time. Hosts can assign interpreters when scheduling, or during the meeting itself. This feature is only available with version 5.11.3 or later."},"live_streaming_facebook":{"type":"boolean","description":"Whether to allow Facebook livestreaming.","example":true},"live_streaming_youtube":{"type":"boolean","description":"Whether to allow YouTube livestreaming.","example":true},"manual_captioning":{"type":"object","properties":{"allow_to_type":{"type":"boolean","description":"Whether to allow the host to manually caption or let the host assign a participant to provide manual captioning.","example":true},"auto_generated_captions":{"type":"boolean","description":"Whether to enable Zoom's [live transcription feature](https://support.zoom.us/hc/en-us/articles/207279736-Managing-closed-captioning-and-live-transcription#h_01FHGGHYJ4457H4GSZY0KM3NSB).","example":true},"full_transcript":{"type":"boolean","description":"Whether to enable the viewing of full transcripts in the in-meeting side panel.","example":true},"manual_captions":{"type":"boolean","description":"Whether to [enable manual closed captioning](https://support.zoom.us/hc/en-us/articles/207279736-Managing-closed-captioning-and-live-transcription).","example":true},"save_captions":{"type":"boolean","description":"Whether to allow participants to [save closed captions or transcripts](https://support.zoom.us/hc/en-us/articles/360060958752). \n\n **Note:** If the `full_transcript` field is set to `false`, participants **cannot** save captions.","example":true},"third_party_captioning_service":{"type":"boolean","description":"Whether to allow the use of an API token to integrate with a [3rd-party device](https://support.zoom.us/hc/en-us/articles/115002212983) to provide closed captioning.","example":true}},"description":"Information about manual captioning settings."},"meeting_polling":{"type":"object","properties":{"advanced_polls":{"type":"boolean","description":"Whether to allow host to create advanced polls and quizzes. Advanced polls and quizzes include single choice, multiple choice, drop down, matching, short answer, long answer, rank order, and fill-in-the-blank questions. Hosts can also set the correct answers for quizzes they create.","example":true},"allow_alternative_host_to_add_edit":{"type":"boolean","description":"Whether to allow the alternative host to add or edit polls and quizzes.","example":true},"manage_saved_polls_and_quizzes":{"type":"boolean","description":"Whether to allow users to manage saved polls and quizzes from Meetings","example":true},"allow_host_to_upload_image":{"type":"boolean","description":"Whether to allow host to upload an image for each question.","example":true},"require_answers_to_be_anonymous":{"type":"boolean","description":"Whether to require answers to be anonymous.","example":true},"enable":{"type":"boolean","description":"Whether to allow the host to add polls before or during a meeting.","example":true}},"description":"Information about the account's meeting polling settings."},"meeting_reactions":{"type":"boolean","description":"Whether meeting participants can [communicate using the emoji reactions](https://support.zoom.us/hc/en-us/articles/115001286183-Nonverbal-feedback-and-meeting-reactions) located in the **Reactions** menu in the meeting toolbar.","example":true},"meeting_reactions_emojis":{"type":"string","description":"Choose from these meeting reaction options.\n* `all` - All emojis: Allow meeting participants to use any emoji available in Zoom chat as a reaction in a meeting.\n* `selected` - Selected emojis: Allow meeting participants to use the 6 standard meeting reaction emojis: Clapping Hands, Thumbs Up, Heart, Tears of Joy, Open Mouth, Party Popper (Tada, Celebration).","example":"all","extensions":{"x-enum-descriptions":["Allow meeting participants to use any emoji available in Zoom chat as a reaction in a meeting.","Allow meeting participants to use the 6 standard meeting reaction emojis - Clapping Hands, Thumbs Up, Heart, Tears of Joy, Open Mouth, Party Popper (Tada, Celebration) ."]},"enum":["all","selected"]},"allow_host_panelists_to_use_audible_clap":{"type":"boolean","description":"Whether to allow host and panelist to use audible clap.","example":true},"webinar_reactions":{"type":"boolean","description":"Set this field to true to use [webinar reactions](https://support.zoom.us/hc/en-us/articles/4803536268429).","example":true},"meeting_survey":{"type":"boolean","description":"Whether to allow the host to present a survey to participants once a meeting has ended. This feature is only available in version 5.7.3 or higher.","example":true},"original_audio":{"type":"boolean","description":"Allow users to select original sound in their client settings.","example":true},"p2p_connetion":{"type":"boolean","description":"Peer to peer connection while only two people are in a meeting.","example":true},"p2p_ports":{"type":"boolean","description":"Peer to peer listening ports range.","example":true},"polling":{"type":"boolean","description":"Add **Polls** to the meeting controls.","example":true},"ports_range":{"type":"string","description":"The listening ports range, separated by a comma, such as `55,56`. The ports range must be between 1 to 65535.","example":"1;65535","default":""},"post_meeting_feedback":{"type":"boolean","description":"Display a thumbs up or down survey at the end of each meeting.","example":true},"private_chat":{"type":"boolean","description":"Allow a meeting participant to send a private message to another participant.","example":true},"record_play_own_voice":{"type":"boolean","description":"Record and play their own voice.","example":true},"remote_control":{"type":"boolean","description":"Allow users to request remote control.","example":true},"non_verbal_feedback":{"type":"boolean","description":"Whether to enable the [**Non-verbal feedback**](https://support.zoom.us/hc/en-us/articles/115001286183-Nonverbal-feedback-and-meeting-reactions-) setting.  This value defaults 
[...]
